<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
</head>
<body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="intro-header">
        <div class="text-center abcen1">
            <a href="/" class="logo wow fadeIn" data-wow-delay=".4s">
                <svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 150" overflow="scroll"><path fill="#2E3192" d="M477 27.7c-5.6-24-109-23.3-235.5 2-123.7 24.6-224.6 64-233 90C8 121 8 122 8 123.3c.5 26 106 26 235.7 0 129.6-26 234-67.8 233.5-93.7 0-.7 0-1.3-.2-2zm-241 84c-96.4 19.2-175 19.2-175.5 0 0-.8 0-1.6.3-2.4 5.2-19.4 80.8-49 173.6-67.5 94.8-19 172.4-19.3 175.5-1v1c0 19.3-78 50.6-174 69.8z" /><path fill="#2E3192" d="M234.4 42c94.8-19 172.4-19.4 175.5-1l67-13.3c-6-24-109-23.3-236 2-124 24.6-225 64-233 90l52-10.2c5-19.5 81-49 173.4-67.5z" /><path fill="#ED1C24" d="M112 27.4l-15 30H81.2l-13.6 64.3h-35l13.7-64.2h-17L36 27.3h76zM157.6 45L149 86h-19l1-4.3c-4 3.5-8.4 5.3-14 5.3-4.3 0-7.6-1.3-10-3.8-2.8-2.7-4-6.4-4-11 0-2 0-4 .6-6 1.4-6.7 4.3-12.2 8.8-16.4 4.3-4 9-6 14-6 5.3 0 9 1.8 11.3 5l.7-3.8h19zm-7.4-12l-4.4 7-11-5.7L121 40l-1.3-7 17-8.5 13.5 8.6zm-16.8 31.6l.2-1.6c0-2.6-1.2-4-3.5-4-1 0-3 1-4 2.7-1 1.7-1 3.4-1 5.2 0 2 1 3 3.7 3 2.8 0 4.7-2 5.6-6zm27-49l-13.8 13-7-4L151.4 10l9 5.5zm46 43l-5.7 27.2h-20l4.6-21.4.2-1.7c0-1.4-.8-2.2-2.4-2.2-2 0-3 1.6-4 4.8l-4 20.5h-20l7-32 21-11.2-1 6c3.6-3.3 8-5 14-5 8 0 12 3.5 12 10.6 0 1.4 0 3-.4 4.4zm93-12.6c-2.6 12.4-8.4 22.3-17.2 29.6-9 7.3-19.2 11-31 11h-36.8l6.6-31h-7.5l4-18.3h7.4l6-31h37c9.4 0 17 3 23 8.4 5.5 5.6 8.4 13 8.4 22 0 3-.3 6.2-1 9.4zm-31-1l.3-3.6c0-3.4-1-6-3.2-8-2-2-4.8-3-8-3H256l-1.5 6.8h8.3l-4 18.3h-8l-1.3 5.5h2c9 0 14.6-5.3 16.8-16z" /><path fill="none" d="M234.4 42C141.6 60.3 66 90 60.8 109.3l349-68.5c-3-18.4-80.6-18-175.4 1z" /><path fill="none" d="M60.5 111.6c.5 19.3 79 19.3 175.6 0C333 92.4 411 61 410 42v-1L60.7 109.3c-.2.7-.3 1.5-.3 2.2z" /><path fill="#2E3192" d="M410 41v1c.5 19.2-77.4 50.4-174 69.7-96.4 19.3-175 19.3-175.5 0 0-.7 0-1.5.3-2.3L8.6 119.6c-.4 1.2-.6 2.4-.6 3.6.6 26 106.2 26 235.8 0s234-67.8 233.5-93.7c0-.6 0-1.3-.2-2L410 41z" /><path fill="#ED1C24" d="M348.5 45l-8.7 41h-19l1-4.3C318 85.2 313.6 87 308 87c-4.2 0-7.5-1.3-10-3.8-2.7-2.7-4-6.4-4-11 0-2 .2-4 .7-6 1.4-6.7 4.3-12.2 8.8-16.4 4.3-4 9-6 14-6 5.3 0 9 1.8 11.3 5l.8-3.8h19zm-24.2 19.6l.2-1.6c0-2.6-1.2-4-3.5-4-1.7 0-3 1-4.2 2.7-1 1.7-1.7 3.4-1.7 5.2 0 2 2 3 4 3 3 0 5-2 6-6zM312 106c-3.7 0-5.5-1.7-5.5-5.3 0-2.4.8-4.6 2.5-6.5 1.7-2 3.7-3 6-3 1.7 0 3 .6 4 1.7 1 1 1.5 2 1.5 4s-1 4-2.6 6c-2 2-4 3-6 3zm74.3-61l-8.6 15h-4.2L368 86h-20l5.4-25.8H346L380.7 26l-4 19h9.6z" /></svg>
            </a>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Providing Complete IT Solution</h3>
        </div>
        <div class="text-center abcen wow fadeIn">
            <div>
                <a class="button-down scrollTo " title="Click vào đây để xem nội dung" href="#wrapper"> <img class="img_scroll animated" src="~/data/site_svg/circle.png" alt=""> </a>
            </div>
        </div>
    </div>
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">

                        <li class="gn-search-item">
                            @using (Html.BeginForm("SearchAll", "Home", FormMethod.Get))
                            {
                            <input placeholder="Nội dung tìm kiếm" name="id" type="search" class="gn-search">
                            <a class="gn-icon fa-search"><span>Search</span></a>
                            }
                        </li>
                        <li>
                            <a class="gn-icon fa-email scrollTo" href="#contact">Liên hệ</a>
                        </li>
                        <li>
                            <a class="gn-icon fa-info togger" data-toggle="about">Giới thiệu</a>

                        </li>
                        <li>
                            <a class="gn-icon fa-locked togger" data-toggle="policies">Điều khoản sử dụng</a>

                        </li>
                        <li>
                            <a class="gn-icon fa-cogs togger" data-toggle="payment">Vận chuyển và thanh toán</a>
                        </li>
                        <li>
                            <a class="gn-icon fa-shield togger" data-toggle="quantity">Bảo hành</a>
                        </li>

                    </ul>
                </div><!-- /gn-scroller -->
            </nav>
        </li>
        <li>
            <a class="mnu" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 27.02 27.02">
                    <g class="svg-color">
                        <path d="M3.674 24.876s-.024.604.566.604l6.81-.008.01-5.58s-.095-.92.798-.92h2.826c1.056 0 .99.92.99.92l-.01 5.562h6.666c.75 0 .715-.752.715-.752v-10.29L13.65 6.056l-9.976 8.358v10.463z" />
                        <path d="M0 13.635s.847 1.56 2.694 0l11.038-9.338 10.35 9.28c2.137 1.542 2.938 0 2.938 0L13.732 1.54 0 13.635zM23.83 4.275h-2.662l.01 3.228 2.652 2.25" />
                    </g>
                </svg>
                <span class="mnu-text">
                    Trang chủ
                </span>
            </a>
        </li>
        <li>
            <a class="mnu" href="/shop">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 501.715 501.715" width="512" height="512"><path class="svg-color" d="M456.087 96.18l-101.053 8.288c-12.37-42.15-44.934-74.287-84.686-82.398C255.426 10.842 238.1 3.378 219.1.918V0h-13v.74c-64 6.716-114.338 60.153-116.07 125.472l-82.89 6.796L58.434 453.71l296.28 48.005 70.592-35.174 69.268-323.27-38.486-47.09zm-115.328 9.46l-20.52 1.682c-3.606-23.063-12.682-44.05-25.676-61.224 21.29 12.468 37.94 33.738 46.195 59.54zm-76.02-70.415c21.275 17.067 36.557 43.12 41.507 73.245L157.43 120.677c9.694-47.204 50.147-83.322 99.416-86.39 2.663.187 5.294.507 7.894.938zm-52.414-20.972c10.692.753 20.942 3.384 30.5 7.6-50.914 8.764-91.175 49.072-99.867 100.01L104 125.06c2.347-59.228 49.438-107.15 108.326-110.807zm146.79 468.96l-5.655-1.442 95.58-375.234 5.655 1.44-95.578 375.237z" /></svg>
                <span class="mnu-text">
                    Shop
                </span>
            </a>
        </li>
        <li>
            <a class="mnu" href="/blog">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 533.333 533.333">
                    <path class="svg-color" d="M200 100c128.867 0 233.333 104.468 233.333 233.333h-50c0-48.97-19.07-95.01-53.697-129.636C295.01 169.07 248.97 150 200 150v-50zm0-100c184.094 0 333.333 149.24 333.333 333.333h-50c0-38.27-7.484-75.372-22.246-110.27-14.267-33.733-34.703-64.04-60.74-90.077-26.038-26.038-56.344-46.474-90.077-60.742C275.373 57.484 238.272 50 200 50V0zm99.162 234.17c22.79 22.79 34.164 52.66 34.15 82.527C300 366.695 300 433.333 300 433.333c-133.333 0-233.333 100-233.333 100l-7.292-7.29-12.047-12.05 147.7-147.696c1.622.24 3.28.37 4.972.37 18.41 0 33.333-14.925 33.333-33.334S218.41 300 200 300s-33.333 14.924-33.333 33.333c0 1.69.128 3.352.37 4.973L19.34 486.006 0 466.666s100-100 100-233.332c0 0 66.666 0 116.666-33.333 29.858 0 59.715 11.39 82.496 34.17z" />
                </svg>
                <span class="mnu-text">
                    Bài viết
                </span>
            </a>
        </li>
        <li>
            <a class="togger mnu" data-toggle="userinfo">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 409.165 409.164"><path class="svg-color" d="M204.583 216.67c50.664 0 91.74-48.074 91.74-107.377 0-82.237-41.074-107.377-91.74-107.377-50.668 0-91.74 25.14-91.74 107.377 0 59.303 41.073 107.378 91.74 107.378zM407.164 374.717L360.88 270.454c-2.117-4.77-5.836-8.728-10.465-11.138l-71.83-37.392c-1.584-.823-3.502-.663-4.926.415-20.317 15.365-44.204 23.487-69.077 23.487-24.877 0-48.762-8.122-69.078-23.488-1.428-1.08-3.346-1.24-4.93-.416L58.75 259.316c-4.63 2.41-8.346 6.365-10.465 11.138L2 374.717c-3.19 7.188-2.536 15.412 1.75 22.005 4.286 6.592 11.538 10.526 19.4 10.526h362.862c7.863 0 15.117-3.936 19.402-10.527 4.285-6.59 4.94-14.818 1.75-22.003z" /></svg>
                <span class="mnu-text">
                    Tài khoản
                </span>
            </a>
        </li>
    </ul>
    <div class="wrapper" id="wrapper">

        @*<div class="container">
                <nav class="menu-top">
                    <a class="togger menu-link only-xs" data-toggle="menu" href="#menu">
                        <span class="line"></span>
                    </a>
                    <div class="collapse collapse-slide-left xs-up" id="menu">
                        <a class="collapse-close only-xs">
                            <span class="line"></span>
                        </a>
                        <a class="menu-link" href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 27.02 27.02">
                                <g class="svg-color">
                                    <path d="M3.674 24.876s-.024.604.566.604l6.81-.008.01-5.58s-.095-.92.798-.92h2.826c1.056 0 .99.92.99.92l-.01 5.562h6.666c.75 0 .715-.752.715-.752v-10.29L13.65 6.056l-9.976 8.358v10.463z" />
                                    <path d="M0 13.635s.847 1.56 2.694 0l11.038-9.338 10.35 9.28c2.137 1.542 2.938 0 2.938 0L13.732 1.54 0 13.635zM23.83 4.275h-2.662l.01 3.228 2.652 2.25" />
                                </g>
                            </svg>
                            <span class="menu-text">
                                Trang chủ
                            </span>
                        </a>
                        <a class="menu-link" href="/Blog">
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 533.333 533.333">
                                <path class="svg-color" d="M200 100c128.867 0 233.333 104.468 233.333 233.333h-50c0-48.97-19.07-95.01-53.697-129.636C295.01 169.07 248.97 150 200 150v-50zm0-100c184.094 0 333.333 149.24 333.333 333.333h-50c0-38.27-7.484-75.372-22.246-110.27-14.267-33.733-34.703-64.04-60.74-90.077-26.038-26.038-56.344-46.474-90.077-60.742C275.373 57.484 238.272 50 200 50V0zm99.162 234.17c22.79 22.79 34.164 52.66 34.15 82.527C300 366.695 300 433.333 300 433.333c-133.333 0-233.333 100-233.333 100l-7.292-7.29-12.047-12.05 147.7-147.696c1.622.24 3.28.37 4.972.37 18.41 0 33.333-14.925 33.333-33.334S218.41 300 200 300s-33.333 14.924-33.333 33.333c0 1.69.128 3.352.37 4.973L19.34 486.006 0 466.666s100-100 100-233.332c0 0 66.666 0 116.666-33.333 29.858 0 59.715 11.39 82.496 34.17z" />
                            </svg>
                            <span class="menu-text">
                                Bài viết
                            </span>
                        </a>
                    </div>

                    <a class="togger menu-link" data-toggle="userinfo" href="#userinfo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 409.165 409.164"><path class="svg-color" d="M204.583 216.67c50.664 0 91.74-48.074 91.74-107.377 0-82.237-41.074-107.377-91.74-107.377-50.668 0-91.74 25.14-91.74 107.377 0 59.303 41.073 107.378 91.74 107.378zM407.164 374.717L360.88 270.454c-2.117-4.77-5.836-8.728-10.465-11.138l-71.83-37.392c-1.584-.823-3.502-.663-4.926.415-20.317 15.365-44.204 23.487-69.077 23.487-24.877 0-48.762-8.122-69.078-23.488-1.428-1.08-3.346-1.24-4.93-.416L58.75 259.316c-4.63 2.41-8.346 6.365-10.465 11.138L2 374.717c-3.19 7.188-2.536 15.412 1.75 22.005 4.286 6.592 11.538 10.526 19.4 10.526h362.862c7.863 0 15.117-3.936 19.402-10.527 4.285-6.59 4.94-14.818 1.75-22.003z" /></svg>
                        <span class="menu-text">
                            Tài khoản
                        </span>
                    </a>
                </nav>
            </div>*@
        @RenderBody()
        <footer class="footer">
            <div id="contact" class="lazy" data-src="/Home/_Contact"></div>
            <div class="lazy" data-src="/home/_Footer"></div>
            <div class="copyright-container">
                <div class="container">
                    <div class="copyright">
                        <a href="https://cnstandat.net">&copy; by Tấn Đạt &trade;</a>
                    </div>
                </div>
            </div>
        </footer>
        <div class="cookie">
            <p>Chúng tôi đang sử dụng <a href="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm" rel="nofollow" target="_blank">cookie</a> để thống kê số liệu giúp chúng tôi cung cấp cho bạn trải nghiệm tốt nhất trên trang web của chúng tôi. Bạn có thể tìm hiểu thêm hoặc tắt chúng nếu muốn. Tuy nhiên, bằng cách tiếp tục sử dụng trang web mà không thay đổi cài đặt, bạn đồng ý sử dụng cookie của chúng tôi.</p>
            <div class="cookie-btns"><a class="btn">Đồng ý</a></div>
        </div>
    </div>
    <div id="userinfo" class="lazy collapse" data-src="/Account/UserInfo"></div>
    <div id="about" class="lazy collapse" data-src="/Home/_About"></div>
    <div id="cart" class="collapse">
        <a class="collapse-close"><span class="line"></span></a>
        <ul id="carts"></ul>
        <a class="checkout btn">
            <i class="fa fa-checkmark"></i>
            <span>Check Out</span>
        </a>
    </div>
    @Html.Partial("_End")
</body>
</html>