.loader-36 {
	position: relative;
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
	}
	&:before {
		width: 1em;
		height: 1em;
		border: .1em solid currentcolor;
		border-radius: 50%;
		animation: loader-36-1 1.15s infinite -0.3s;
	}
	&:after {
		right: 0;
		bottom: 0;
		margin: auto;
		width: 0;
		height: 0;
		border: .1em solid currentcolor;
		border-radius: 50%;
		transform: translate(-.2em);
		animation: loader-36-2 4.6s infinite steps(1);
	}
}

@keyframes loader-36-1 {
	to {
		transform: rotateX(180deg);
	}
}

@keyframes loader-36-2 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		box-shadow: .2em 0 0 currentcolor;
	}
	75% {
		box-shadow: .2em 0 0 currentcolor, .4em 0 0 currentcolor;
	}
}
