.loader-26 {
	width: .5em;
	height: .5em;
	background-color: currentcolor;
	box-shadow: 1em 0px 0px currentcolor;
	border-radius: 50%;
	animation: loader-26 1s ease-in-out infinite alternate;
}

@keyframes loader-26 {
	0% {
		opacity: 0.1;
		transform: rotate(0deg) scale(0.5);
	}
	100% {
		opacity: 1;
		transform: rotate(360deg) scale(1.2);
	}
}