.loader-30 {
	border: .2em solid transparent;
	border-top-color: currentcolor;
	border-bottom-color: currentcolor;
	border-radius: 50%;
	position: relative;
	animation: 1s loader-30 linear infinite;
	&:before,
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		border: .2em solid transparent;
		border-bottom-color: currentcolor;
	}
	&:before {
		transform: rotate(135deg);
		right: -.3em;
		top: -.05em;
	}
	&:after {
		transform: rotate(-45deg);
		left: -.3em;
		bottom: -.05em;
	}
}

@keyframes loader-30 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}