@model TD.Models.Views.ForgotPasswordViewModel


<form class="form form-sm " id="forgot" data-src="/account/forgotpassword">
    @Html.AntiForgeryToken()
    <div class='form-title'>
        <span>Quên mật khẩu</span>
    </div>
    <p class="form-text">
        Nếu bạn đã xác minh tài khoản , bạn có thể sử dụng chức năng phục hồi mật khẩu để lấy lại mật khẩu cho tài khoản của bạn
        <br />
        Nếu tài khoản của bạn chưa được xác minh , vui lòng liên hệ
        <br />
        <a href="tel:+842383551888" class="a"><i class="fa fa-phone"></i> Điện thoại : +84 2383 551 888</a>
        <br />
        <a href="mailto:support@cnstandat.net" class="a"><i class="fa fa-email"></i> Email : support@cnstandat.net</a><br />
        để được hỗ trợ
    </p>
    <div class="input--sae">
        <input class="input-text" type="email" required data-rule-email="true" name="Email" />
        <label class="label">
            <i class="fa fa-email"></i>
            <span class="text">Email bạn đã đăng ký</span>
        </label>
    </div>

    <div class='form-btn'>
        <a class="btn submit btn-primary"><i class="fa fa-email"></i> Gửi mail phục hồi</a>
    </div>
</form>

