@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}


    <div class="change-pw c-100">
        <h4 class="text-danger">Một email gửi kèm hướng dẫn phục hồi mật khẩu đã được gửi cho bạn</h4>
        <p class="text-success">
            Vui lòng kiểm tra email và làm theo hướng dẫn.
        </p>
    </div>


