<div class="main">
    <form class="form form-sm">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Code" value="@ViewBag.Code" />
        <input type="hidden" name="Email" value="@ViewBag.Email" />
        <div class="input--sae">
            <input type="password" autocomplete="new-password" name="NewPassword" required data-rule-rangelength="4,30" id="npw" />
            <label class="label">
                <i class="fa fa-edit"></i>
                <span class="text">Mật khẩu mới</span>
            </label>
        </div>
        <div class="input--sae">
            <input type="password" autocomplete="new-password" name="ConfirmPassword" required data-rule-equalto="#npw" />
            <label class="label">
                <i class="fa fa-edit"></i>
                <span class="text">Mật khẩu mới</span>
            </label>
        </div>
        <div class="form-btn">
            <a class="btn btn-primary submit">
                <i class="fa fa-checkmark"></i>
                <span class="text">Xác nhận</span>
            </a>
        </div>
    </form>
</div>

