@model TD.Models.TagBlog


<div class="main">
    <div class="breadcrumb">
        <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
        <a href="/Admin/tagblogs" class="breadcrumb-item active">Nhãn</a>
    </div>
    <form class="form form-sm" data-src="/admin/tagblogs/create">
        @Html.AntiForgeryToken()
        <div class="form-title">
            Thêm mới nhãn bài viết
        </div>
        <div class="input--sae">
            <input class="input-text" name="FullName" required data-rule-remote="/check/tagblog" data-rule-minlength="4" />
            <label class="label">
                <i class="fa fa-edit"></i>
                <span class="text">Nhãn bài viết</span>
            </label>
        </div>
        <div class="form-btn">
            <a class="btn submit btn-success" title="Lưu"><i class="fa fa-save"></i>Lưu</a>
        </div>
    </form>
</div>

