@model IEnumerable<TD.Models.Views.ProductVersionView>

<div class="table">
    <div class="table-row table-row-header">

        <span class="table-cell">
            Chức năng
            <a href="/admin/products/appVersionsAdd/@ViewBag.ProductId" class="btn left" title="Thêm mới">
                Thêm mới
            </a>
        </span>


    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="table-row">

                <span class="table-cell">
                    <a href="/admin/products/appVersionsEdit?ProductId=@item.ProductId&Version=@((int)item.Version)" class="product-slide-link" title="Click vào đây để xem chi tiết">
                        @item.VersionName
                    </a>
                </span>

            </div>
        }
    }
    else
    {
        <div class="table-row">
            <span class="table-cell">Chưa có dữ liệu</span>
        </div>
    }
</div>