@model IEnumerable<TD.Models.ProductCategory>

<div class="main">
    <div class="tools">
        <div class="breadcrumb">
            <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
            <a href="/Admin/AppCategories" class="breadcrumb-item active">Nhóm sản phẩm</a>
        </div>
        <div class="more-action">
            <a class="btn" href="/admin/FeatureApps" title="Danh sách chức năng">Chức năng</a>
            <a class="btn" href="/admin/Partners" title="Danh sách khách hàng">Khách hàng</a>
            <a class="btn btn-success" href="/admin/AppCategories/create" title="Thêm mới nhóm sản phẩm">Thêm mới</a>
        </div>
    </div>
    <h4 class="form-title">Nhóm sản phẩm</h4>
    <div class="table">
        <div class="table-row table-row-header">
            <span class="table-cell">
                <a class="btn left togger togger-lazy" data-src="/admin/productcategories/create" href="#createAppCategory">Thêm mới</a>
                Nhóm
            </span>
            <span class="table-cell">
                Chức năng
            </span>
        </div>

        @foreach (var item in Model)
        {
            <div class="table-row">
                <input type="radio" name="expand" />
                <span class="table-cell primary">
                    <a href="/Admin/AppCategories/Edit/@item.Id" data-label="Ứng dụng" class="text togger togger-lazy">@(string.IsNullOrEmpty(item.Name) ? "-" : item.Name)</a>
                </span>
                <span class="table-cell" data-label="Chức năng">
                    @item.Features.Count()
                </span>
            </div>

        }

    </div>


</div>