
<div class="main">

    <div class="tools">
        <div class="breadcrumb">
            <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
            <a href="/Admin/home/config" class="breadcrumb-item active">Cấu hình</a>
        </div>
        <div class="more-action">
            <a href="/admin/users" class="btn btn-sm"><i class="fa fa-user"></i>Quản lý người dùng</a>
            <a href="/admin/blogs" class="btn btn-sm btn-danger"><i class="fa fa-edit"></i>Quản lý bài viết</a>
            <a href="/admin/config" class="btn btn-sm btn-success"><i class="fa fa-cogs"></i>Cấu hình</a>
        </div>
    </div>


    <div class="form-block">
        <div class="lazy" data-src="/admin/configs"></div>
    </div>
    <div class="form-block">
        <div class="lazy" data-src="/admin/galleries"></div>
    </div>
</div>



