@model TD.Models.Views.DPageViewModel
<div class="main">

    <div class="breadcrumb">
        <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
        <a href="/Admin/config" class="breadcrumb-item">Cấu hình</a>
        <a href="/config/payment" class="breadcrumb-item active">Phương thức giao nhận</a>
    </div>
    <div class="more-action">
        <a href="/admin/users" class="btn btn-sm"><i class="fa fa-user"></i>Quản lý người dùng</a>
        <a href="/admin/blogs" class="btn btn-sm btn-danger"><i class="fa fa-edit"></i>Quản lý bài viết</a>
        <a href="/admin/editpage/@Model.Id" class="btn btn-sm btn-success"><i class="fa fa-edit"></i>Chỉnh sửa</a>
    </div>

    <form class="form">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="input--sae">
            <i class="fa fa-edit fa-fix"></i>
            <input class="input-text" name="Name" value="@Model.Name" placeholder="Tiêu đề trang" required />
        </div>
        @*@Html.Raw(Model.Content);*@
        <textarea id="page_contens" class="note-editable" name="Content">@Model.Content</textarea>
        <div class="form-btn">
            <a class="btn submit btn-success" title="Lưu"><i class="fa fa-save"></i>Lưu</a>
            <a class="btn delete" title="Xóa trang" data-src="/admin/deletepage/@Model.Id">
                <i class="fa fa-cross"></i>Xóa
            </a>
        </div>
    </form>
</div>



