
<div class="form-title">đổi mật khẩu</div>
<form class="form form-sm" data-src="/Account/ChangePassword">

    @Html.AntiForgeryToken()
    <div class="text-helper">
        Để thay đổi mật khẩu bạn cần nhập mật khẩu hiện tại
    </div>

    <div class="input--sae">
        <input type="password" name="OldPassword" class="input-text" required autocomplete="new-password" />
        <label class="label">
            <i class="fa fa-edit"></i>
            <span class="text">Mật khẩu hiện tại</span>
        </label>
    </div>

    <div class="input--sae">
        <input type="password" id="cppw" name="NewPassword" class="input-text" required autocomplete="new-password" />
        <label class="label">
            <i class="fa fa-edit"></i>
            <span class="text">Mật khẩu mới</span>
        </label>
    </div>


    <div class="input--sae">

        <input type="password" name="ConfirmPassword" class="input-text" required data-rule-equalto="#cppw" autocomplete="new-password" />
        <label class="label">
            <i class="fa fa-edit"></i>
            <span class="text">Xác nhận mật khẩu</span>
        </label>
    </div>

    <div class="form-btn">
        <a class="btn submit btn-success"><i class="fa fa-key"></i>Đổi mật khẩu</a>
    </div>
</form>

