@model IEnumerable<TD.Models.Views.UserCommentView>
@if (Model != null && Model.Any())
{
    <h4 class="form-title">Danh sách thảo luận</h4>
    <div class="table">
        <div class="table-row table-row-header">
            <span class="table-cell">
                Nội dung
            </span>
            <span class="table-cell">
                Cập nhật
            </span>
        </div>
        @foreach (var item in Model)
        {
            <div class="table-row">
                <span class="table-cell">
                    @Html.Raw(item.Content)
                </span>
                <span class="table-cell">
                    @item.CreatedUtc
                </span>

            </div>
        }
        @if (ViewBag.Page != null)
        {
            <div class="text-center">
                <a data-src="/account/_commentmore/@ViewBag.Page" class="btn btn-info load-on-click">
                    <i class="fa fa-menu"></i> Xem thêm
                </a>
            </div>
        }
    </div>
}
else
{
    <h4 class="form-title">Bạn chưa từng thảo luận</h4>
}





