<div class="collapse tab-container" id="userinfo">
    <div class="sidebar collapse-wrap">
        <a class="togger only-xs self" href="#loginMenu">
            <span class="line"></span>
        </a>
        <nav class="collapse-sm" id="loginMenu">
            <ul class="sidebar-menu">
                <li>
                    <a href="#login" class="tab-link-init active a">
                        <span class="text"> Đăng nhập</span>
                    </a>
                </li>
                <li>
                    <a href="#signup" class="tab-link-init a">
                        <span class="text">Đăng ký</span>
                    </a>
                </li>
                <li>
                    <a href="#forgot" class="tab-link-init a">
                        <span class="text"> Quên mật khẩu</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <a class="collapse-close"><span class="line"></span></a>
    <div class="sidebar-wrap">
        <div class="tab-content active">
            <div id="login" class="wow wow-lazy" data-src="/Account/_Login"></div>
        </div>
        <div class="tab-content">
            <div id="signup" class="wow wow-lazy" data-src="/Account/_Register"></div>
        </div>
        <div class="tab-content">
            <div id="forgot" class="wow wow-lazy" data-src="/Account/_ForgotPassword"></div>
        </div>
    </div>

</div>





