
<div class="form-title">Đặt mật khẩu</div>
<form class="form form-sm" data-src="/Account/SetPassword">

    @Html.AntiForgeryToken()

    <p class="text-helper">
        Bạn đang đăng nhập bằng tài khoản mạng xã hội, tài khoản của bạn chưa có mật khẩu, bạn có thể đặt mật khẩu
        để truy cập trực tiếp bằng tài khoản Website mà không cần thông qua tài khoản mạng xã hội
    </p>
    <div class="input--sae">

        <input type="password" name="Password" id="npw2" required data-rule-rangelength="4,30" class="input-text" autocomplete="new-password" />
        <label class="label">
            <i class="fa fa-edit"></i>
            <span class="text">Mật khẩu mới</span>
        </label>
    </div>


    <div class="input--sae">

        <input type="password" name="ConfirmPassword" required data-rule-rangelength="4,30" data-rule-equalto="#npw2" class="input-text" autocomplete="new-password" />
        <label class="label">
            <i class="fa fa-edit"></i>
            <span class="text">Xác nhận mật khẩu</span>
        </label>
    </div>
    <div class="form-btn">
        <a class="btn submit btn-primary"><i class="fa fa-key"></i>Đặt mật khẩu</a>
    </div>

</form>

