%bg-leather {
    background-color: #693939;
    @include filter-gradient(#693939, #221212, horizontal);
    @include background-image(linear-gradient(left top, #693939 0%,#7a4242 12%,#8b4b4b 25%,#643636 39%,#412323 50%,#0a0606 51%,#1f1111 60%,#402222 76%,#2e1818 89%,#221212 100%));
}

%bg-white {
    background-color: $base-white;
}

%bg-thoi {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAAAAAA7suyFAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAFjSURBVDjLfZTdisIwEEa/TJp0mlrbIOz7v9pqa1dExD8Cu7TuRaom1XbuMhy+w8xAxB5RyaRVRdwCxU8ht1/ZaZYR/LPoSnOaYaReG3O/VCMoZITcVnkHGkMUi3QHvEE0EvlmDNFINHRvIURj0VBhEj1ENQ+ioX+xT8gzIqmXRZACgK5PiLyorThGAJwfOgIguDb6DQHdhiQCpF4v8js+1NUnEYRul6bDx/LTkeDG8AQy7CnR68kUnyT+ktqmMwjotFKU3zBXffp7plV6kDOI1vWNnOWDmESUakpFcDY7yikka/MEBLgqm9Axf+epv4WreP9B10u5KRWGmzprjuJdxG2R4MHAWR7req3XmcKLgbMmnq5XsilThAyc5VDXK955UcDAWX6toNd6M4hCBs6+plOyKVK8M3DW+KRe8q5Q+MQ8pus1N1mAxH+Cv52WmzzFFANn+ZjISARAjP6x7IBOp3HvH1oygPqGt3nXAAAAAElFTkSuQmCC') /*/data/site_svg/bg001.png*/;
}

%bg-main {
    background: $lightgrey;
    background: -moz-radial-gradient(center, $shape cover, $lightgrey 0%, $darkgrey $limit);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$lightgrey), color-stop($limit,$darkgrey));
    background: -webkit-radial-gradient(center, $shape cover, $lightgrey 0%,$darkgrey $limit);
    background: -o-radial-gradient(center, $shape cover, $lightgrey 0%,$darkgrey $limit);
    background: -ms-radial-gradient(center, $shape cover, $lightgrey 0%,$darkgrey $limit);
    background: radial-gradient($shape at center, $lightgrey 0%,$darkgrey $limit);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lightgrey', endColorstr='$darkgrey',GradientType=1 );
    background-size: cover;
}

%bg-dot {
    /*z-index: -99;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;*/
    /*background: $lightgrey;*/
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.7), rgba(0,0,0,.7) 2px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
    -webkit-background-size: 4px 4px;
    -moz-background-size: 4px 4px;
    background-size: 4px 4px;
}

%bg-carbon {
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

%bg-carbon-fibre {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}
