@import "../libs";


.svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 15px;

    &-color {
        fill: $base-mnu-cl;
    }
}

.gn-menu-main,
.gn-menu {
    margin: 0;
    padding: 0;
    background: $base-mnu-bg;
    color: #fff;
    list-style: none;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 60px;
}

.gn-menu-main {
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    font-size: 13px;
    z-index: $ztop-menu;
    border-bottom: 1px solid $base-mnu-bd;

    &.active {
        top: 0;
        position: fixed;

        .gn-menu-wrapper {
            position: fixed;
        }
    }

    &.sm {
        height: 40px;
        line-height: 40px;

        a.mnu {
            padding: 0 5px;
            font-size: 20px;

            .fa {
                margin: 0;
            }
        }

        ~ .wrapper .main {
            padding-top: 50px;
        }

        .gn-trigger {
            width: 40px;

            > a {
                padding: 0 20px;
            }

            .line {
                width: 20px;
                height: 3px;
            }
        }
        .gn-menu-wrapper{
            top:40px;
        }
    }

    a {
        display: block;
        height: 100%;
        color: $brand-info;
        text-decoration: none;
        cursor: pointer;
    }

    > li {
        display: block;
        float: left;
        height: 100%;
        border-right: 1px solid #c6d0da;
        text-align: center;

        &:last-child {
            float: right;
            border-right: none;
            border-left: 1px solid #c6d0da;
        }

        > a {
            padding: 0 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;

            &.mnu {
                padding-left: 30px;

                @include mq(tablet) {
                    padding-left: 50px;
                }
            }
        }
    }

    li.gn-trigger {
        position: relative;
        width: 60px;
        @include user-select(none);
        -webkit-touch-callout: none;

        .line {
            width: 30px;
            height: 5px;
            overflow:visible;
        }
    }

    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

.gn-menu-wrapper {
    @include transform(translateX(-60px));
    @include transition(transform 0.3s, width 0.3s);
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 60px;
    border-top: 1px solid #c6d0da;

    &.gn-open-all,
    &.gn-open-part {
        @include transform(translateX(0px));
        z-index: $ztop-menu + 1;
        display: block;
        min-height: 300px;
        min-width:60px;
    }

    &.gn-open-all {
        width: 100%;
        min-width: 300px;

        .gn-scroller {
            width: 130%;
        }
    }

    &.gn-open-all .gn-submenu li {
        height: 60px;
    }
}

.no-touchevents {
    .gn-menu-main a.mnu:hover,
    .gn-menu li:hover,
    .gn-menu li:hover a {
        @include transition(background .3s,color .3s);
        background: #5f6f81;
        color: $base-mnu-cl;
    }
}

.mnu {
    position: relative;
}

.mnu-text {
    display: none;
}

.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    width: 370px;
    height: 100%;
}

.gn-menu {
    border-bottom: 1px solid #c6d0da;
    text-align: left;
    font-size: 18px;

    li:not(:first-child), li li {
        box-shadow: inset 0 1px #c6d0da;
    }
}

.gn-submenu li {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;

    a:before {
        color: #c1c9d1;
    }
}

.gn-search-item {
    form {
        display: list-item;
    }
}

.gn-search {
    position: relative;
    z-index: 10;
    padding-left: 60px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    font-weight: lighter;
    cursor: pointer;

    &::-webkit-input-placeholder {
        color: $brand-info;
    }

    &:-moz-placeholder {
        color: $brand-info;
    }

    &::-moz-placeholder {
        color: $brand-info;
    }

    &:-ms-input-placeholder {
        color: $brand-info;
    }

    &:focus::-webkit-input-placeholder,
    &:focus {
        cursor: text;
    }
}

.gn-menu-main a.fa-search {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
}

.gn-icon {
    line-height: 60px !important;
    letter-spacing: .1em;
    /*text-transform:uppercase;*/
    font-size: 14px;
    font-weight: bold;
    font-family: $font !important;

    &::before {
        font-family: 'icomoon';
        display: inline-block;
        width: 60px;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-family: icomoon;
        line-height: 1;
        speak: none;
        -webkit-font-smoothing: antialiased;
    }
}

@include mq(tablet) {
    .mnu-text {
        display: inline-block;
    }

    .gn-menu-main.sm {
        height: 50px;
        line-height: 50px;
         .gn-menu-wrapper{
            top:50px;
        }
        > li {
            width: auto;
        }

        a.mnu {
            font-size: 12px;
            padding: 0 10px;
        }

        ~ .wrapper .main {
            padding-top: 60px;
        }

        .gn-trigger {
            width: 50px;

            > a {
                padding: 0 25px;
            }

            .line {
                width: 25px;
                height: 4px;
            }
        }

        ~ .wrapper .main .breadcrumb {
            top: 7px;
            left: 60px;
        }
    }

    .gn-menu-wrapper {
        &.gn-open-all,
        &.gn-open-part {
            width: auto;
        }
    }
}

@include mq(desktop) {

    .gn-menu-main.sm {
        height: 60px;
        line-height: 60px;
         .gn-menu-wrapper{
            top:60px;
        }
        a.mnu {
            font-size: 14px;
            padding: 0 10px;

            &.home {
                padding: 0 15px;
            }
        }

        ~ .wrapper .main {
            padding-top: 70px;
        }

        .gn-trigger {
            width: 60px;

            > a {
                padding: 0 30px;
            }

            .line {
                width: 30px;
                height: 5px;
                
            }
        }

        ~ .wrapper .main .breadcrumb {
            top: 10px;
            left: 70px;
        }
    }
}
