/*#region Tab */
@import "../libs";
$tab-color: $base-white;
$tab-active-color: $brand-success;
$tab-height: $collapse-height;

.sidebar-container {
    position: relative;
    overflow: hidden;

    .sidebar {
        position: absolute !important;
    }

    .sidebar-wrap {
        position: relative !important;
    }
}

.tab {
    &-container {
        display: block;

        &.open {
            display: block;
        }
    }

    &.active {
        .tab-link {
            background-color: $brand-danger;
        }
    }

    &-content {
        display: none;

        > .wow-lazy {
            display: none;
        }

        &.active {
            min-height: 1px;
            min-width: 1px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            transform:translate3d(-50%,-50%,0);
            /*@include transform(translate(-50%,-50%));*/
        }
    }

    &-link {
        
        padding:1em 0;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: none;
        overflow: hidden;
        &.active{
            color:$brand-warning;
        }
    }
}

.collapse.scrollspy.open {
    .collapse-close {
        position: fixed;
        right: 15px;
    }
}

.sidebar {
    font-size: 16px;
    background: $color-blueviolet;
    cursor: default;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    display: flex;

    .collapse-sm {
        width: 100%;
    }

    &.collapse-wrap.open {
        height: auto;
    }

    z-index: $ztop-menu;
    text-align: center;
    width: 100%;

    &-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        width: 100%;
        padding: 1rem;
        /*position: absolute;*/
        li {
            display: block;
            width: 100%;
            text-align: right;
        }
    }

    .collapse > & {
        z-index: -1;

        > .inner > ul {
            padding-right: 50px;
        }
    }








    &-wrap {
        font-size: 14px;
        overflow: hidden;
        position: absolute;
        /*top: 50px;*/
        left: 0;
        z-index: -2;
        right: 0;
        display: block;
        min-height: 100%;
        min-height: 100vh;

        .wrap {
            position: relative;
        }
    }
}

@mixin tab-md {


    .sidebar {
        height: 100% !important;
        text-align: right;
        overflow: hidden;
        top: 0;
        width: 18em;

        &-menu {
            height: 100%;
        }



        &-wrap {
            top: 0;
            margin-left: 0;
            left: 18em;
        }

        .colappse > & > .inner ul {
            padding-right: 0;
        }



        .a {
            @include transition(color .3s ease);
            border: 0;
            color: #fff;
            display: block;
            outline: 0;
            padding: 1em 0;
            position: relative;

            @include hover-focus-active {
                color: $brand-warning;
            }
        }
    }
}


/*#endregion */
.intro {
    padding: 3em 2em;
    background: #5e42a6 url('/data/site_svg/intro.svg') top right /100% 100% no-repeat fixed;
    min-height: 100%;
    min-height: 100vh;

    h1 {
        font-size: 3em;
        line-height: 3em;
    }

    p {
        font-size: 1.25em;
        color: #fff;
        line-height: 1.5em;
    }

    @include mq($from:wide) {
        background-attachment: scroll;
    }
}

.team {
    background: #b74e91;
    padding: 3em;

    section {
        @include display-flex();
    }

    .image {
        img {
            width: 200px;
        }
    }

    .content {
        padding: 0 1em;
    }
}

.about-contact {
    height: 100vh;
    background: transparent;
    padding: 3em;
    font-size: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
        min-height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;

        h3 {
            display: inline-block;
            color: $base-light;
        }
    }
}

.scrollTo {
    &.f {
        @include position(absolute, $bottom: .625rem, $left: 50%);
        z-index: 1;
        @include translate3d(-50%,0,0);
        text-align: center;

        .fa {
            font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: #fff;
        }
    }
}
