$icomoon-font-path: "fonts" !default;

$fa-app: "\e90c";
$fa-key: "\e902";
$fa-locked: "\e906";
$fa-mouse-pointer: "\e900";
$fa-paint-brush: "\e901";
$fa-home: "\e909";
$fa-edit: "\e908";
$fa-pencil: "\e908";
$fa-tint: "\e90b";
$fa-image: "\e90d";
$fa-video: "\e913";
$fa-video-camera: "\e913";
$fa-folder: "\e92f";
$fa-phone: "\e942";
$fa-printer: "\e954";
$fa-display: "\e956";
$fa-rotate-left: "\e967";
$fa-undo: "\e967";
$fa-rotate-right: "\e968";
$fa-redo: "\e968";
$fa-comment: "\e96d";
$fa-commenting: "\e96d";
$fa-user: "\e971";
$fa-users: "\e972";
$fa-quote-left: "\e977";
$fa-quotes-right: "\e978";
$fa-search: "\e986";
$fa-fullscreen: "\e989";
$fa-expand: "\e98b";
$fa-cogs: "\e995";
$fa-magic: "\e997";
$fa-shield: "\e9b4";
$fa-switch: "\e9b6";
$fa-list-ol: "\e9b9";
$fa-list-ul: "\e9bb";
$fa-upload: "\e9c3";
$fa-file-o: "\e9c3";
$fa-save: "\e9c5";
$fa-link: "\e9cb";
$fa-star: "\e9d9";
$fa-smile-o: "\e9e9";
$fa-plus: "\ea0a";
$fa-minus: "\ea0b";
$fa-info: "\ea0c";
$fa-cross: "\ea0f";
$fa-checkmark: "\ea10";
$fa-checkmark2: "\ea11";
$fa-play: "\ea1c";
$fa-arrow-up: "\ea32";
$fa-arrow-right: "\ea34";
$fa-arrow-down: "\ea36";
$fa-arrow-left: "\ea38";
$fa-arrows-alt: "\ea45";
$fa-font: "\ea5c";
$fa-text-height: "\ea61";
$fa-bold: "\ea62";
$fa-underline: "\ea63";
$fa-italic: "\ea64";
$fa-strikethrough: "\ea65";
$fa-superscript: "\ea69";
$fa-subscript: "\ea6a";
$fa-table: "\ea71";
$fa-paragraph: "\ea75";
$fa-align-left: "\ea77";
$fa-align-right: "\ea79";
$fa-align-justify: "\ea7a";
$fa-indent: "\ea7b";
$fa-outdent: "\ea7c";
$fa-code: "\ea80";
$fa-google: "\ea88";
$fa-facebook: "\ea90";
$fa-twitter: "\ea96";
$fa-angle-double-down: "\e90e";
$fa-chevron-right: "\e90f";
$fa-chevron-left: "\e910";
$fa-shopping-bag: "\e90a";
$fa-exchange: "\e907";
$fa-eraser: "\e905";
$fa-trash: "\e905";
$fa-compress: "\e904";
$fa-email: "\e903";
$fa-envelope: "\e903";

