<div class="collapse collapse-auto-center auto-dispose" id="createMainSlide">
    <div class="collapse-overlay"></div>
    <div class="collapse-body">
        <a class="collapse-close fa fa-cross"></a>
        <form class="form" data-src="/admin/galleries/create">
            @Html.AntiForgeryToken()

            <input type="hidden" id="ImageData" name="ImageData" value="" />
            <div class="form-body">
                <div class="left">
                    <figure class="image-fake" data-width="972" data-height="600" data-upload="1">
                        <noscript><img src="/data/img_svg/noavatar.png" width="972" height="600" /></noscript>
                    </figure>
                </div>
                <div class="right edit">
                    <div class="input--sae">
                        <input class="input-text" name="Name" />
                        <label class="label">
                            <i class="fa fa-edit"></i>
                            <span class="text">Title</span>
                        </label>
                    </div>
                    <div class="input--sae">
                        <input class="input-text" name="Subtitle" />
                        <label class="label">
                            <i class="fa fa-edit"></i>
                            <span class="text">Subtitle</span>
                        </label>
                    </div>
                    <div class="input--sae">
                        <input class="input-text" name="ButtonText" />
                        <label class="label">
                            <i class="fa fa-edit"></i>
                            <span class="text">Nút bấm</span>
                        </label>
                    </div>
                    <div class="input--sae">
                        <input class="input-text" name="Link" />
                        <label class="label">
                            <i class="fa fa-link"></i>
                            <span class="text">Liên kết</span>
                        </label>
                    </div>
                    <div class="input--sae">
                        <input class="input-text" name="VideoLink" />
                        <label class="label">
                            <i class="fa fa-video"></i>
                            <span class="text">Video</span>
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-btn">
                <a class="btn submit btn-success" title="Lưu"><i class="fa fa-save"></i>Lưu</a>
            </div>
        </form>
    </div>
</div>
