<div class="home-about">
    <div >
        <div>
            <div class="dichvu wow bounce" data-wow-iteration="4">
            </div>
            <div class="service wow fadeInRight">
                Lập trình Web , thiết kế mẫu web
            </div>
            <div class="service wow fadeInLeftBig">
                Lập trình ứng dụng Windows , Android , iOS , Winphone
            </div>
            <div class="service wow fadeInDownBig">
                Cung cấp linh kiện laptop, thiết bị văn phòng
            </div>
            <div class="service wow fadeInUpBig">
                Tư vấn bảo mật , hệ thống an ninh
            </div>
        </div>
    </div>
</div>