<div id="about" class="collapse light block">
    <a class="collapse-close">
        <span class="line"></span>
    </a>

    <!-========== PROMO BLOCK ==========->
    <section class="s-video-v2__bg" data-vidbg-bg="mp4: include/media/mp4_video.mp4, webm: include/media/webm_video.webm, poster: include/media/fallback.jpg" data-vidbg-options="loop: true, muted: true, overlay: false">
        <div class="container pos-ov text-center">
            <div class="p-y-50 m-t-100 m-b-100 m-b-250-md">
                <h1 class="font-size36 font-size50-sm font-size60-md color-white">More Than a Look,</h1>
                <h2 class="font-size36 font-size50-sm font-size60-md color-white">Design is Functional.</h2>
            </div>
        </div>
    </section>
    <!-========== END PROMO BLOCK ==========->
    <!-========== PAGE CONTENT ==========->
    <!--Mockup -->
    <div class="container m-t-o-150">
        <div class="center-block s-mockup-v1">
            <img class="img-responsive" src="/data/img/megakit/mockups/devices-01.png" alt="Mockup Image">
        </div>
    </div>
    <!--End Mockup -->
    <!--Portfolio -->
    <div class="container p-y-80 p-y-125m">
        <div class="row m-b-30">
            <div class="col-sm-4">
                <div class="m-t-20-md m-b-40">
                    <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-25">Branding Work</p>
                    <h2 class="font-size32 font-size36-md">Projects</h2>
                    <p>We are masters of most current technologies.<br>Check us out and enjoy things that we know we're good at.</p>
                </div>
            </div>
            <div class="col-sm-8">
                <!--Portfolio Gallery -->
                <div id="js__grid-portfolio-gallery" class="s-portfolio__paginations-v1 cbp">
                    <!--Item -->
                    <div class="s-portfolio__item cbp-item motion graphic">
                        <div class="s-portfolio__img-effect">
                            <img src="/data/img/megakit/970x647/04.jpg" alt="Portfolio Image">
                        </div>
                        <div class="s-portfolio__caption-hover-cc">
                            <div class="m-b-25">
                                <h3 class="font-size18 color-white m-b-5">Portfolio Item</h3>
                                <p class="color-white-opacity">by KeenThemes Inc.</p>
                            </div>
                            <ul class="list-inline g-ul-li-lr-5 m-b-0">
                                <li>
                                    <a href="img/970x647/04.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                        <i class="ti-link"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Item -->
                    <div class="s-portfolio__item cbp-item logos graphic">
                        <div class="s-portfolio__img-effect">
                            <img src="/data/img/megakit/970x647/09.jpg" alt="Portfolio Image">
                        </div>
                        <div class="s-portfolio__caption-hover-cc">
                            <div class="m-b-25">
                                <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                                <p class="color-white-opacity">by KeenThemes Inc.</p>
                            </div>
                            <ul class="list-inline g-ul-li-lr-5 m-b-0">
                                <li>
                                    <a href="img/970x647/09.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                        <i class="ti-link"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Item -->
                    <div class="s-portfolio__item cbp-item logos motion">
                        <div class="s-portfolio__img-effect">
                            <img src="/data/img/megakit/970x647/05.jpg" alt="Portfolio Image">
                        </div>
                        <div class="s-portfolio__caption-hover-cc">
                            <div class="m-b-25">
                                <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                                <p class="color-white-opacity">by KeenThemes Inc.</p>
                            </div>
                            <ul class="list-inline g-ul-li-lr-5 m-b-0">
                                <li>
                                    <a href="img/970x647/05.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                        <i class="ti-link"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Item -->
                    <div class="s-portfolio__item cbp-item graphic">
                        <div class="s-portfolio__img-effect">
                            <img src="/data/img/megakit/970x647/06.jpg" alt="Portfolio Image">
                        </div>
                        <div class="s-portfolio__caption-hover-cc">
                            <div class="m-b-25">
                                <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                                <p class="color-white-opacity">by KeenThemes Inc.</p>
                            </div>
                            <ul class="list-inline g-ul-li-lr-5 m-b-0">
                                <li>
                                    <a href="img/970x647/06.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                        <i class="ti-link"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Item -->
                    <div class="s-portfolio__item cbp-item logos">
                        <div class="s-portfolio__img-effect">
                            <img src="/data/img/megakit/970x647/07.jpg" alt="Portfolio Image">
                        </div>
                        <div class="s-portfolio__caption-hover-cc">
                            <div class="m-b-25">
                                <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                                <p class="color-white-opacity">by KeenThemes Inc.</p>
                            </div>
                            <ul class="list-inline g-ul-li-lr-5 m-b-0">
                                <li>
                                    <a href="img/970x647/07.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                        <i class="ti-link"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Item -->
                    <div class="s-portfolio__item cbp-item motion graphic">
                        <div class="s-portfolio__img-effect">
                            <img src="/data/img/megakit/970x647/08.jpg" alt="Portfolio Image">
                        </div>
                        <div class="s-portfolio__caption-hover-cc">
                            <div class="m-b-25">
                                <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                                <p class="color-white-opacity">by KeenThemes Inc.</p>
                            </div>
                            <ul class="list-inline g-ul-li-lr-5 m-b-0">
                                <li>
                                    <a href="img/970x647/08.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                        <i class="ti-fullscreen"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                        <i class="ti-link"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Item -->
                </div>
                <!--End Portfolio Gallery -->
            </div>
        </div>
    </div>
    <!--End Portfolio -->
    <!--Counter -->
    <div class="js__parallax-window" style="background: url(/data/img/megakit/1920x1080/02.jpg) 50% 0 no-repeat fixed;">
        <div class="container p-y-125">
            <div class="row">
                <div class="col-md-3 col-xs-6 g-full-width m-b-70 m-b-0-lg">
                    <div class="text-center">
                        <div class="m-b-10">
                            <figure class="dis-inline-block font-size70 color-white js__counter">6</figure>
                            <span class="font-size40 color-white">k</span>
                        </div>
                        <div class="center-block g-hor-divider__solid-white w-40 m-b-25"></div>
                        <h4 class="font-size18 color-white">Lines of Code</h4>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 g-full-width m-b-70 m-b-0-lg">
                    <div class="text-center">
                        <figure class="dis-block font-size70 color-white m-b-10 js__counter">5</figure>
                        <div class="center-block g-hor-divider__solid-white w-40 m-b-25"></div>
                        <h4 class="font-size18 color-white">Award Winners</h4>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 g-full-width m-b-70 m-b-0-sm">
                    <div class="text-center">
                        <figure class="dis-block font-size70 color-white m-b-10 js__counter">15</figure>
                        <div class="center-block g-hor-divider__solid-white w-40 m-b-25"></div>
                        <h4 class="font-size18 color-white">Multiple Pages</h4>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 g-full-width">
                    <div class="text-center">
                        <div class="m-b-10">
                            <figure class="dis-inline-block font-size70 color-white js__counter">2</figure>
                            <span class="font-size40 color-white">x</span>
                        </div>
                        <div class="center-block g-hor-divider__solid-white w-40 m-b-25"></div>
                        <h4 class="font-size18 color-white">Faster Support</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Counter -->
    <!--Plan -->
    <div class="b-sky-light">
        <div class="container p-y-80 p-y-125m">
            <div class="text-center m-b-80">
                <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-25">Plan</p>
                <h2 class="font-size32 font-size36-md">Finding your Plan</h2>
            </div>
            <div class="row row-col-5">
                <!--Plan -->
                <div class="col-md-4 m-b-10 m-b-0-lg">
                    <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                        <div class="s-plan-v1 text-center b-white p-y-100">
                            <i class="dis-block font-size40 color-primary m-b-30 fa-archive"></i>
                            <h3 class="font-size18 color-primary m-b-30">Individual</h3>
                            <ul class="list-unstyled g-ul-li-tb-5 m-b-40">
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> Mobile-Optimized Website</li>
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> Powerful Documentation</li>
                            </ul>
                            <div class="m-b-40">
                                <span class="s-plan-v1__price-mark">$</span>
                                <span class="s-plan-v1__price-tag">39</span>
                            </div>
                            <button type="button" class="text-uppercase s-btn s-btn-sm s-btn-primary-bg g-radius-50 p-x-50">Signup</button>
                        </div>
                    </div>
                </div>
                <!--End Plan -->
                <!--Plan -->
                <div class="col-md-4 m-b-10 m-b-0-lg">
                    <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
                        <div class="s-plan-v1 text-center b-white p-y-100">
                            <i class="dis-block font-size40 color-primary m-b-30 fa-package"></i>
                            <h3 class="font-size18 color-primary m-b-30">Team</h3>
                            <ul class="list-unstyled g-ul-li-tb-5 m-b-40">
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> Mobile-Optimized Website</li>
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> Powerful Documentation</li>
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> Sell Unlimited Apps</li>
                            </ul>
                            <div class="m-b-40">
                                <span class="s-plan-v1__price-mark">$</span>
                                <span class="s-plan-v1__price-tag">59</span>
                            </div>
                            <button type="button" class="text-uppercase s-btn s-btn-sm s-btn-primary-bg g-radius-50 p-x-50">Signup</button>
                        </div>
                    </div>
                </div>
                <!--End Plan -->
                <!--Plan -->
                <div class="col-md-4">
                    <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
                        <div class="s-plan-v1 text-center b-white p-y-100">
                            <i class="dis-block font-size40 color-primary m-b-30 fa-gift"></i>
                            <h3 class="font-size18 color-primary m-b-30">Enterprise</h3>
                            <ul class="list-unstyled g-ul-li-tb-5 m-b-40">
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> Mobile-Optimized Website</li>
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> Powerful Documentation</li>
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> Sell Unlimited Apps</li>
                                <li><i class="font-size13 color-primary m-r-10 fa-check"></i> 24/7 Customer Support</li>
                            </ul>
                            <div class="m-b-40">
                                <span class="s-plan-v1__price-mark">$</span>
                                <span class="s-plan-v1__price-tag">79</span>
                            </div>
                            <button type="button" class="text-uppercase s-btn s-btn-sm s-btn-primary-bg g-radius-50 p-x-50">Signup</button>
                        </div>
                    </div>
                </div>
                <!--End Plan -->
            </div>
        </div>
    </div>
    <!--End Plan -->
    <!--Testimonials -->
    <div class="g-hor-divider__dashed-sky-light p-y-80 p-y-125m">
        <div class="container text-center">
            <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-50">Testimonials</p>
            <div class="sw sw-testimonials">
                <!--Swiper Wrapper -->
                <div class="swiper-wrapper m-b-50">
                    <div class="swiper-slide p-x-130-sm p-x-150-lg">
                        <div class="p-x-20 p-x-50-lg">
                            <img class="w-70 h-70 g-hor-border-4__solid-white g-box-shadow__dark-lightest-v4 circle m-b-30" src="/data/img/megakit/400x400/04.jpg" alt="Image">
                            <div class="m-b-40">
                                <p class="font-size22 font-size28-sm color-heading"><i>" I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability. "</i></p>
                            </div>
                            <div class="center-block g-hor-divider__solid-heading-light w-100 m-b-30"></div>
                            <h4 class="font-size15 font-size18-sm color-primary m-b-5">Jake Richardson / Google</h4>
                        </div>
                    </div>
                    <div class="swiper-slide p-x-130-sm p-x-150-lg">
                        <div class="p-x-20 p-x-50-lg">
                            <img class="w-70 h-70 g-hor-border-4__solid-white g-box-shadow__dark-lightest-v4 circle m-b-30" src="/data/img/megakit/400x400/05.jpg" alt="Image">
                            <div class="m-b-40">
                                <p class="font-size22 font-size28-sm color-heading"><i>" I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability. "</i></p>
                            </div>
                            <div class="center-block g-hor-divider__solid-heading-light w-100 m-b-30"></div>
                            <h4 class="font-size15 font-size18-sm color-primary m-b-5">Anna Kusaikina / Apple</h4>
                        </div>
                    </div>
                    <div class="swiper-slide p-x-130-sm p-x-150-lg">
                        <div class="p-x-20 p-x-50-lg">
                            <img class="w-70 h-70 g-hor-border-4__solid-white g-box-shadow__dark-lightest-v4 circle m-b-30" src="/data/img/megakit/400x400/06.jpg" alt="Image">
                            <div class="m-b-40">
                                <p class="font-size22 font-size28-sm color-heading"><i>" I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability. "</i></p>
                            </div>
                            <div class="center-block g-hor-divider__solid-heading-light w-100 m-b-30"></div>
                            <h4 class="font-size15 font-size18-sm color-primary m-b-5">Lucas Richardson / Microsoft</h4>
                        </div>
                    </div>
                </div>
                <!--End Swipper Wrapper -->
                <!--Arrows -->
                <div class="font-size22 color-heading js__swiper-fraction"></div>
                <a href="#" class="dis-none dis-inline-block-sm sw-nav-right btn-icon btn-icon-md btn-icon-primary-brd circle fa-angle-right btn-next"></a>
                <a href="#" class="dis-none dis-inline-block-sm sw-nav-left btn-icon btn-icon-md btn-icon-primary-brd circle fa-angle-left btn-prev"></a>
                <!--End Arrows -->
            </div>
        </div>
    </div>
    <!--End Testimonials -->
    <!--Clients -->
    <div class="container-md p-y-80 p-y-100-sm">
        <!--Swiper Clients -->
        <div class="sw sw-clients">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="partner" src="/data/img/megakit/clients/01-dark.png" alt="Clients Logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".2s">
                        <img class="partner" src="/data/img/megakit/clients/02-dark.png" alt="Clients Logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".3s">
                        <img class="partner" src="/data/img/megakit/clients/03-dark.png" alt="Clients Logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".4s">
                        <img class="partner" src="/data/img/megakit/clients/04-dark.png" alt="Clients Logo">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".5s">
                        <img class="partner" src="/data/img/megakit/clients/05-dark.png" alt="Clients Logo">
                    </div>
                </div>
            </div>
        </div>
        <!--End Swiper Clients -->
    </div>
    <!--End Clients -->
    <!-========== END PAGE CONTENT ==========->


</div>