<div id="about" class="collapse light block">
    <a class="collapse-close">
        <span class="line"></span>
    </a>


    <div class="container p-y-80 p-y-125-sm">
        <div class="row g-hor-centered-row-md row-col-5 m-b-60 m-b-100-md">
            <div class="col-sm-3 col-xs-6 g-hor-centered-row__col">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="/data/img/megakit-responsive" src="/data/img/megakit/400x500/05.jpg" alt="Image">
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 g-hor-centered-row__col m-b-60 m-b-0-md">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="/data/img/megakit-responsive" src="/data/img/megakit/400x550/01.jpg" alt="Image">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 g-hor-centered-row__col">
                <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-25">Culture</p>
                <h2 class="font-size32 font-size36-sm m-b-25">About Event</h2>
                <p class="font-size18-sm">We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.</p>
            </div>
        </div>
        <div class="row g-hor-centered-row-md row-col-5">
            <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col">
                <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".2s">
                    <img class="/data/img/megakit-responsive" src="/data/img/megakit/400x550/02.jpg" alt="Image">
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 col-sm-push-6 g-hor-centered-row__col m-b-60 m-b-0-md">
                <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".1s">
                    <img class="/data/img/megakit-responsive" src="/data/img/megakit/400x500/06.jpg" alt="Image">
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col text-left text-right-md">
                <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-25">Speakers</p>
                <h2 class="font-size32 font-size36-sm m-b-25">Keynote Speakers</h2>
                <p class="font-size18-sm">Working together on the daily requires each individual to let the greater good of the team’s work surface above their own ego.</p>
            </div>
        </div>
    </div>
    <!--End About -->
    <!--Process -->
    <div class="g-b-primary-ltr">
        <div class="container p-y-80 p-y-125-sm">
            <div class="text-center m-b-100">
                <p class="text-uppercase font-size14 font-w-700 color-white-opacity letter-sp-2 m-b-25">Process</p>
                <h2 class="font-size32 font-size36-md color-white">How it Works</h2>
            </div>
            <ul class="list-inline row m-b-100">
                <!--Process -->
                <li class="col-sm-3 col-xs-6 g-full-width s-process-v1 m-b-60 m-b-0-md">
                    <div class="center-block text-center">
                        <div class="m-b-30">
                            <span class="dis-inline-block w-100 h-100 font-size38 color-primary b-white g-box-shadow__dark-lightest-v4 p-x-20 p-y-20 circle">01</span>
                        </div>
                        <div class="p-x-20">
                            <h3 class="font-size18 color-white">Consult</h3>
                            <p class="color-white-opacity">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                        </div>
                    </div>
                </li>
                <!--End Process -->
                <!--Process -->
                <li class="col-sm-3 col-xs-6 g-full-width s-process-v1 m-b-60 m-b-0-md">
                    <div class="center-block text-center">
                        <div class="m-b-30">
                            <span class="dis-inline-block w-100 h-100 font-size38 color-primary b-white g-box-shadow__dark-lightest-v4 p-x-20 p-y-20 circle">02</span>
                        </div>
                        <div class="p-x-20">
                            <h3 class="font-size18 color-white">Create</h3>
                            <p class="color-white-opacity">The time has come to bring those ideas and plans to life.</p>
                        </div>
                    </div>
                </li>
                <!--End Process -->
                <!--Process -->
                <li class="col-sm-3 col-xs-6 g-full-width s-process-v1 m-b-60 m-b-0-sm">
                    <div class="center-block text-center">
                        <div class="m-b-30">
                            <span class="dis-inline-block w-100 h-100 font-size38 color-primary b-white g-box-shadow__dark-lightest-v4 p-x-20 p-y-20 circle">03</span>
                        </div>
                        <div class="p-x-20">
                            <h3 class="font-size18 color-white">Develop</h3>
                            <p class="color-white-opacity">Whether through commerce or just an experience to tell your brand.</p>
                        </div>
                    </div>
                </li>
                <!--End Process -->
                <!--Process -->
                <li class="col-sm-3 col-xs-6 g-full-width s-process-v1">
                    <div class="center-block text-center">
                        <div class="m-b-30">
                            <span class="dis-inline-block w-100 h-100 font-size38 color-primary b-white g-box-shadow__dark-lightest-v4 p-x-20 p-y-20 circle">04</span>
                        </div>
                        <div class="p-x-20">
                            <h3 class="font-size18 color-white">Release</h3>
                            <p class="color-white-opacity">Now that your brand is all dressed up and ready to party.</p>
                        </div>
                    </div>
                </li>
                <!--End Process -->
            </ul>
            <div class="text-center">
                <a href="#scrollTo-appointment" class="text-uppercase s-btn s-btn-md s-btn-white-bg g-radius-50 p-x-70">Hire Us</a>
            </div>
        </div>
    </div>


</div>