@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<!--Begin Head -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tấn Đạt</title>
    <meta name="description" content="TD Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/data/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/data/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/data/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/data/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/data/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/data/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/data/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/data/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/data/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/data/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/data/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/data/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/data/favicon/favicon-16x16.png">
    <link rel="manifest" href="/data/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/data/favicon/mbtn-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        .td-loader {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fff;
            z-index: 99999;
        }
    </style>
</head>
<body>
    <div class="loader" id="loadder"></div>
    <header class="navbar-fixed-top th js-header-sticky js__header-overlay">
        <div class="header-menu">
            <div class="header-menu-wrapper">
                <div class="header-menu-row">
                    <div class="header-menu-row-col">
                        <div class="header-logo">
                            <a href="/" class="header-logo-link">
                                <img class="header-logo-img header-logo-img-default" src="/data/img/megakit/logo.png" alt="Megakit Logo">
                                <img class="header-logo-img header-logo-img-shrink" src="/data/img/megakit/logo-dark.png" alt="Megakit Logo">
                            </a>
                        </div>
                    </div>
                    <div class="header-menu-row-col">
                        <a href="#" class="trigger-left js__trigger togger" data-toggle="main-mnu">
                            <span class="trigger-left-icon"></span>
                            <svg x="0rem" y="0rem" width="3.125rem" height="3.125rem" viewbox="0 0 54 54">
                                <circle fill="transparent" stroke="#fff" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="th-bg-overlay js__bg-overlay collapse" id="main-mnu">
            <nav class="header_nav js__scrollbar">
                <div class="container-fluid">
                    <ul class="list-unstyled header_nav-menu">
                        <li class="menu-item">
                            <a class="item-link divider -is-active" href="/">Tấn Đạt</a>
                        </li>
                        <li class="menu-item"><a class="item-link divider" href="index_app_landing.html">App Landing</a></li>
                        <li class="menu-item"><a class="item-link divider" href="index_portfolio.html">Portfolio</a></li>
                        <li class="menu-item"><a class="item-link divider" href="index_events.html">Events</a></li>
                        <li class="menu-item"><a class="item-link divider" href="index_lawyer.html">Lawyer</a></li>
                        <li class="menu-item"><a class="item-link divider" href="index_clinic.html">Clinic</a></li>
                        <li class="menu-item"><a class="item-link divider" href="index_coming_soon.html">Coming Soon</a></li>
                    </ul>
                    <ul class="list-unstyled header_nav-menu">
                        <li class="menu-item"><a class="item-link divider togger togger-load" data-src="/home/_about" href="#about">Giới thiệu</a></li>
                        <li class="menu-item"><a class="item-link divider" href="team.html">Team</a></li>
                        <li class="menu-item"><a class="item-link divider" href="services.html">Services</a></li>
                        <li class="menu-item"><a class="item-link divider" href="events.html">Events</a></li>
                        <li class="menu-item"><a class="item-link divider" href="faq.html">FAQ</a></li>
                        <li class="menu-item"><a class="item-link divider" href="contacts.html">Contacts</a></li>
                    </ul>
                </div>
            </nav>
            <ul class="list-inline th__action th__action-lb">
                <li class="th__action-item"><a class="th__action-link -is-active" href="#">En</a></li>
                <li class="th__action-item"><a class="th__action-link" href="#">Fr</a></li>
            </ul>
            <ul class="list-inline th__action th__action-rb">
                <li class="th__action-item">
                    <a class="th__action-link" href="#">
                        <i class="p-r-5 fa-facebook"></i>
                        <span class="dis-none dis-inline-block-sm">Facebook</span>
                    </a>
                </li>
                <li class="th__action-item">
                    <a class="th__action-link" href="#">
                        <i class="p-r-5 fa-twitter"></i>
                        <span class="dis-none dis-inline-block-sm">Twitter</span>
                    </a>
                </li>
                <li class="th__action-item">
                    <a class="th__action-link" href="#">
                        <i class="p-r-5 fa-instagram"></i>
                        <span class="dis-none dis-inline-block-sm">Instagram</span>
                    </a>
                </li>
            </ul>
            <!--End Action -->
        </div>
        <!--End Overlay -->
    </header>
    <div class="sw sw-one">
        <!--Swiper Wrapper -->
        <div class="swiper-wrapper">
            <div class="full-height bg-center swiper-slide" style="background: url('/data/img/megakit/1920x1080/02.jpg');">
                <div class="container text-center g-ver-center">
                    <div class="m-b-30">
                        <h1 class="font-size35 font-size45-sm font-size55-md color-white">A Mobile Experience<br>That Inspires Travel</h1>
                    </div>
                    <a class="popup-video" href="https://www.youtube.com/watch?v=lcFYdgZKZxY" title="Intro Video">
                        <i class="btn-icon btn-icon-lg btn-icon-white-bg circle fa-control-play"></i>
                    </a>
                </div>
            </div>
            <div class="full-height bg-center swiper-slide" style="background: url('/data/img/megakit/1920x1080/01.jpg');">
                <div class="container text-center g-ver-center">
                    <div class="m-b-30">
                        <div class="m-b-30">
                            <h2 class="font-size35 font-size45-sm font-size55-md color-white">We Craft Experience<br>That Help Brands<br>Stand Out</h2>
                        </div>
                        <a class="popup-video" href="https://www.youtube.com/watch?v=lcFYdgZKZxY" title="Intro Video">
                            <i class="btn-icon btn-icon-lg btn-icon-white-bg circle fa-control-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--End Swiper Wrapper -->
        <!--Arrows -->
        <a href="#" class="sw-nav-right btn-icon btn-icon-md btn-icon-white-brd circle fa-angle-right js__swiper-btn-next"></a>
        <a href="#" class="sw-nav-left btn-icon btn-icon-md btn-icon-white-brd circle fa-angle-left js__swiper-btn-prev"></a>
        <!--End Arrows -->

        <a href="#scrollTo-section" class="scrollTo m-b-15">
            <span class="font-size18 color-white fa-angle-double-down"></span>
            <p class="text-uppercase color-white letter-sp-3 m-b-0">Learn More</p>
        </a>
    </div>
    <!-========== END SWIPER SLIDER ==========->
    <!-========== PAGE CONTENT ==========->
    <!--Features -->
    <div id="scrollTo-section" class="container p-y-80 p-y-125-sm">
        <div class="text-center m-b-100">
            <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-25">Welcome to Megakit</p>
            <h2 class="font-size32 font-size36-md">We Create Beautiful Experiences <br> That Drive Successful Businesses.</h2>
        </div>
        <div class="row m-b-60 m-b-70-md">
            <div class="col-sm-4 m-b-60 m-b-0-md">
                <div class="clearfix">
                    <div class="g-media w-30">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".1s">
                            <i class="font-size28 color-primary fa-desktop"></i>
                        </div>
                    </div>
                    <div class="g-media__body p-x-20">
                        <h3 class="font-size18">Responsive Layout</h3>
                        <p class="m-b-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 m-b-60 m-b-0-md">
                <div class="clearfix">
                    <div class="g-media w-30">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".2s">
                            <i class="font-size28 color-primary fa-settings"></i>
                        </div>
                    </div>
                    <div class="g-media__body p-x-20">
                        <h3 class="font-size18">Fully Customizable</h3>
                        <p class="m-b-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clearfix">
                    <div class="g-media w-30">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".3s">
                            <i class="font-size28 color-primary fa-ruler-alt-2"></i>
                        </div>
                    </div>
                    <div class="g-media__body p-x-20">
                        <h3 class="font-size18">Pixel Perfect</h3>
                        <p class="m-b-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--// end row  -->
        <div class="row">
            <div class="col-sm-4 m-b-60 m-b-0-md">
                <div class="clearfix">
                    <div class="g-media w-30">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".4s">
                            <i class="font-size28 color-primary fa-package"></i>
                        </div>
                    </div>
                    <div class="g-media__body p-x-20">
                        <h3 class="font-size18">Endless Possibilities</h3>
                        <p class="m-b-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 m-b-60 m-b-0-md">
                <div class="clearfix">
                    <div class="g-media w-30">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".5s">
                            <i class="font-size28 color-primary fa-star"></i>
                        </div>
                    </div>
                    <div class="g-media__body p-x-20">
                        <h3 class="font-size18">Powerful Performance</h3>
                        <p class="m-b-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clearfix">
                    <div class="g-media w-30">
                        <div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".6s">
                            <i class="font-size28 color-primary fa-panel"></i>
                        </div>
                    </div>
                    <div class="g-media__body p-x-20">
                        <h3 class="font-size18">Parallax Support</h3>
                        <p class="m-b-0">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--// end row  -->
    </div>
    <!--End Features -->
    <!--Parallax -->
    <div class="js__parallax-window" style="background: url(/data/img/megakit/1920x1080/03.jpg) 50% 0 no-repeat fixed;">
        <div class="container text-center p-y-80 p-y-125-sm">
            <div class="m-b-80">
                <h2 class="font-size40 font-size50-sm font-size60-md color-white">The Fastest Way To Develop</h2>
            </div>
            <a href="http://keenthemes.com/" class="text-uppercase s-btn s-btn-md s-btn-white-brd g-radius-50">Learn More</a>
        </div>
    </div>
    <!--End Parallax -->
    <!--Culture -->
    <div class="g-promo-section">
        <div class="container p-y-80 p-y-125-sm">
            <div class="row">
                <div class="col-md-4 m-t-15 m-b-60 m-b-0-lg">
                    <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-25">Culture</p>
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                        <h2 class="font-size40 font-size50-sm font-size60-md">About</h2>
                    </div>
                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                        <h2 class="font-size40 font-size50-sm font-size60-md">Megakit</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <p class="font-size18">We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation. The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
                    <p class="font-size18">Now that your brand is all dressed up and ready to party, it's time to release it to the world. By the way, let's celebrate already.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 g-promo-section__img-right-lg bg-center height-100p-md js__fullwidth-img">
            <img class="img-responsive" src="/data/img/megakit/970x970/03.jpg" alt="Image">
        </div>
    </div>
    <!--End Culture -->
    <!--Subscribe -->
    <div class="js__parallax-window" style="background: url(/data/img/megakit/1920x1080/07.jpg) 50% 0 no-repeat fixed;">
        <div class="container-sm text-center p-y-80 p-y-125-sm">
            <div class="m-b-80">
                <p class="text-uppercase font-size14 font-w-700 color-white-opacity letter-sp-2 m-b-25">Subscribe</p>
                <h2 class="font-size32 font-size36-md color-white">Join Over 1000+ People</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <form class="input-group">
                        <input type="email" class="form-control s-form-v1__input g-radius-left-50" name="email" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button type="submit" class="s-btn s-btn-icon-md s-btn-icon-white-brd s-btn-white-brd g-radius-right-50"><i class="fa-arrow-right"></i></button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End Subscribe -->
    <!--Portfolio Filter -->
    <div class="container p-y-80">
        <div class="text-center m-b-40">
            <h2 class="font-size32 font-size36-md">Projects</h2>
        </div>
        <div class="s-portfolio">
            <div id="js__filters-portfolio-gallery" class="s-portfolio__filter-v1 cbp-l-filters-text cbp-l-filters-center">
                <div data-filter="*" class="s-portfolio__filter-v1-item cbp-filter-item cbp-filter-item-active">Show All</div>
                <div data-filter=".graphic" class="s-portfolio__filter-v1-item cbp-filter-item">Graphic</div>
                <div data-filter=".logos" class="s-portfolio__filter-v1-item cbp-filter-item">Logo</div>
                <div data-filter=".motion" class="s-portfolio__filter-v1-item cbp-filter-item">Motion</div>
            </div>
        </div>
    </div>
    <!--End Portfolio Filter -->
    <!--Portfolio Gallery -->
    <div class="container m-b-100">
        <div id="js__grid-portfolio-gallery" class="cbp">
            <!--Item -->
            <div class="s-portfolio__item cbp-item logos motion">
                <div class="s-portfolio__img-effect">
                    <img src="/data/img/megakit/970x647/05.jpg" alt="Portfolio Image">
                </div>
                <div class="s-portfolio__caption-hover-cc">
                    <div class="m-b-25">
                        <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                        <p class="color-white-opacity">by KeenThemes Inc.</p>
                    </div>
                    <ul class="list-inline g-ul-li-lr-5 m-b-0">
                        <li>
                            <a href="/data/img/megakit/970x647/05.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                <i class="fa-fullscreen"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                <i class="fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Item -->
            <div class="s-portfolio__item cbp-item graphic">
                <div class="s-portfolio__img-effect">
                    <img src="/data/img/megakit/970x647/06.jpg" alt="Portfolio Image">
                </div>
                <div class="s-portfolio__caption-hover-cc">
                    <div class="m-b-25">
                        <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                        <p class="color-white-opacity">by KeenThemes Inc.</p>
                    </div>
                    <ul class="list-inline g-ul-li-lr-5 m-b-0">
                        <li>
                            <a href="/data/img/megakit/970x647/06.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                <i class="fa-fullscreen"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                <i class="fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Item -->
            <div class="s-portfolio__item cbp-item logos">
                <div class="s-portfolio__img-effect">
                    <img src="/data/img/megakit/970x647/07.jpg" alt="Portfolio Image">
                </div>
                <div class="s-portfolio__caption-hover-cc">
                    <div class="m-b-25">
                        <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                        <p class="color-white-opacity">by KeenThemes Inc.</p>
                    </div>
                    <ul class="list-inline g-ul-li-lr-5 m-b-0">
                        <li>
                            <a href="/data/img/megakit/970x647/07.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                <i class="fa-fullscreen"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                <i class="fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Item -->
            <div class="s-portfolio__item cbp-item motion graphic">
                <div class="s-portfolio__img-effect">
                    <img src="/data/img/megakit/970x647/08.jpg" alt="Portfolio Image">
                </div>
                <div class="s-portfolio__caption-hover-cc">
                    <div class="m-b-25">
                        <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                        <p class="color-white-opacity">by KeenThemes Inc.</p>
                    </div>
                    <ul class="list-inline g-ul-li-lr-5 m-b-0">
                        <li>
                            <a href="/data/img/megakit/970x647/08.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                <i class="fa-fullscreen"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                <i class="fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Item -->
            <div class="s-portfolio__item cbp-item logos graphic">
                <div class="s-portfolio__img-effect">
                    <img src="/data/img/megakit/970x647/09.jpg" alt="Portfolio Image">
                </div>
                <div class="s-portfolio__caption-hover-cc">
                    <div class="m-b-25">
                        <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                        <p class="color-white-opacity">by KeenThemes Inc.</p>
                    </div>
                    <ul class="list-inline g-ul-li-lr-5 m-b-0">
                        <li>
                            <a href="/data/img/megakit/970x647/09.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                <i class="fa-fullscreen"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                <i class="fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Item -->
            <div class="s-portfolio__item cbp-item motion graphic">
                <div class="s-portfolio__img-effect">
                    <img src="/data/img/megakit/970x647/04.jpg" alt="Portfolio Image">
                </div>
                <div class="s-portfolio__caption-hover-cc">
                    <div class="m-b-25">
                        <h4 class="font-size18 color-white m-b-5">Portfolio Item</h4>
                        <p class="color-white-opacity">by KeenThemes Inc.</p>
                    </div>
                    <ul class="list-inline g-ul-li-lr-5 m-b-0">
                        <li>
                            <a href="/data/img/megakit/970x647/04.jpg" class="cbp-lightbox btn-icon btn-icon-sm btn-icon-white-bg circle" data-title="Portfolio Item <br/> by KeenThemes Inc.">
                                <i class="fa-fullscreen"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="btn-icon btn-icon-sm btn-icon btn-icon-white-bg circle">
                                <i class="fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End Item -->
        </div>
        <!--End Portfolio Gallery -->
    </div>
    <!--End Portfolio -->
    <!--Testimonials -->
    <div class="js__parallax-window" style="background: url(/data/img/megakit/1920x1080/04.jpg) 50% 0 no-repeat fixed;">
        <div class="container text-center p-y-80 p-y-125-sm">
            <p class="text-uppercase font-size14 font-w-700 color-white-opacity letter-sp-2 m-b-50">Testimonials</p>
            <div class="sw js__swiper-testimonials">
                <!--Swiper Wrapper -->
                <div class="swiper-wrapper m-b-50">
                    <div class="swiper-slide p-x-130-sm p-x-150-lg">
                        <div class="p-x-20 p-x-50-lg">
                            <div class="m-b-40">
                                <p class="font-size22 font-size28-sm color-white"><i>" I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability. "</i></p>
                            </div>
                            <div class="center-block g-hor-divider__solid-white-opacity-lightest w-100 m-b-30"></div>
                            <h4 class="font-size15 font-size18-sm color-white-opacity-light m-b-5">Jake Richardson / Google</h4>
                        </div>
                    </div>
                    <div class="swiper-slide p-x-130-sm p-x-150-lg">
                        <div class="p-x-20 p-x-50-lg">
                            <div class="m-b-40">
                                <p class="font-size22 font-size28-sm color-white"><i>" I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability. "</i></p>
                            </div>
                            <div class="center-block g-hor-divider__solid-white-opacity-lightest w-100 m-b-30"></div>
                            <h4 class="font-size15 font-size18-sm color-white-opacity-light m-b-5">Jake Richardson / Google</h4>
                        </div>
                    </div>
                    <div class="swiper-slide p-x-130-sm p-x-150-lg">
                        <div class="p-x-20 p-x-50-lg">
                            <div class="m-b-40">
                                <p class="font-size22 font-size28-sm color-white"><i>" I have purchased many great templates over the years but this product and this company have taken it to the next level. Exceptional customizability. "</i></p>
                            </div>
                            <div class="center-block g-hor-divider__solid-white-opacity-lightest w-100 m-b-30"></div>
                            <h4 class="font-size15 font-size18-sm color-white-opacity-light m-b-5">Jake Richardson / Google</h4>
                        </div>
                    </div>
                </div>
                <!--End Swipper Wrapper -->
                <!--Arrows -->
                <div class="font-size22 color-white-opacity js__swiper-fraction"></div>
                <a href="#" class="dis-none dis-inline-block-sm sw-nav-right btn-icon btn-icon-md btn-icon-white-brd circle fa-angle-right js__swiper-btn-next"></a>
                <a href="#" class="dis-none dis-inline-block-sm sw-nav-left btn-icon btn-icon-md btn-icon-white-brd circle fa-angle-left js__swiper-btn-prev"></a>
                <!--End Arrows -->
            </div>
        </div>
    </div>
    <!--End Testimonials -->
    <!--Clients -->
    <div class="b-sky-light">
        <div class="container-md p-y-80 p-y-125-sm">
            <!--Swiper Clients -->
            <div class="sw js__swiper-clients">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="s-clients-v1" src="/data/img/megakit/clients/01-dark.png" alt="Clients Logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".2s">
                            <img class="s-clients-v1" src="/data/img/megakit/clients/02-dark.png" alt="Clients Logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".3s">
                            <img class="s-clients-v1" src="/data/img/megakit/clients/03-dark.png" alt="Clients Logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".4s">
                            <img class="s-clients-v1" src="/data/img/megakit/clients/04-dark.png" alt="Clients Logo">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wow fadeIn" data-wow-duration=".3" data-wow-delay=".5s">
                            <img class="s-clients-v1" src="/data/img/megakit/clients/05-dark.png" alt="Clients Logo">
                        </div>
                    </div>
                </div>
            </div>
            <!--End Swiper Clients -->
        </div>
    </div>
    <!--End Clients -->
    <!--News -->
    <div class="container p-y-80 p-y-125-sm">
        <div class="text-center m-b-80">
            <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-25">Blog</p>
            <h2 class="font-size32 font-size36-md">Latest News</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 m-b-30 m-b-0-md">
                <!--News -->
                <article>
                    <img class="img-responsive" src="/data/img/megakit/970x970/01.jpg" alt="Image">
                    <div class="b-white g-box-shadow__dark-lightest-v2 text-center p-x-40 p-y-40">
                        <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2">News</p>
                        <h3 class="font-size22 letter-sp-1"><a href="http://keenthemes.com/">Create Something Great.</a></h3>
                        <p>The time has come to bring those ideas and plans to life.</p>
                    </div>
                </article>
                <!--End News -->
            </div>
            <div class="col-sm-4 m-b-30 m-b-0-md">
                <!--News -->
                <article>
                    <img class="img-responsive" src="/data/img/megakit/970x970/02.jpg" alt="Image">
                    <div class="b-white g-box-shadow__dark-lightest-v2 text-center p-x-40 p-y-40">
                        <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2">News</p>
                        <h3 class="font-size22 letter-sp-1"><a href="http://keenthemes.com/">Jacks of All. Experts in All.</a></h3>
                        <p>The time has come to bring those ideas and plans to life.</p>
                    </div>
                </article>
                <!--End News -->
            </div>
            <div class="col-sm-4">
                <!--News -->
                <article>
                    <img class="img-responsive" src="/data/img/megakit/970x970/03.jpg" alt="Image">
                    <div class="b-white g-box-shadow__dark-lightest-v2 text-center p-x-40 p-y-40">
                        <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2">News</p>
                        <h3 class="font-size22 letter-sp-1"><a href="http://keenthemes.com/">Finding your Perfect Place.</a></h3>
                        <p>The time has come to bring those ideas and plans to life.</p>
                    </div>
                </article>
                <!--End News -->
            </div>
        </div>
    </div>
    <!--End News -->
    <!--Counter -->
    <div class="js__parallax-window" style="background: url(/data/img/megakit/1920x1080/06.jpg) 50% 0 no-repeat fixed;">
        <div class="container p-y-80 p-y-125-sm">
            <div class="row">
                <div class="col-md-3 col-xs-6 g-full-width m-b-70 m-b-0-lg">
                    <div class="text-center">
                        <div class="m-b-10">
                            <figure class="dis-inline-block font-size70 color-white js__counter">6</figure>
                            <span class="font-size40 color-white">k</span>
                        </div>
                        <div class="center-block g-hor-divider__solid-white w-40 m-b-25"></div>
                        <h4 class="font-size18 color-white">Lines of Code</h4>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 g-full-width m-b-70 m-b-0-lg">
                    <div class="text-center">
                        <figure class="dis-block font-size70 color-white m-b-10 js__counter">5</figure>
                        <div class="center-block g-hor-divider__solid-white w-40 m-b-25"></div>
                        <h4 class="font-size18 color-white">Award Winners</h4>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 g-full-width m-b-70 m-b-0-sm">
                    <div class="text-center">
                        <figure class="dis-block font-size70 color-white m-b-10 js__counter">15</figure>
                        <div class="center-block g-hor-divider__solid-white w-40 m-b-25"></div>
                        <h4 class="font-size18 color-white">Multiple Pages</h4>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 g-full-width">
                    <div class="text-center">
                        <div class="m-b-10">
                            <figure class="dis-inline-block font-size70 color-white js__counter">2</figure>
                            <span class="font-size40 color-white">x</span>
                        </div>
                        <div class="center-block g-hor-divider__solid-white w-40 m-b-25"></div>
                        <h4 class="font-size18 color-white">Faster Support</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Counter -->
    <!--Feedback Form -->
    <div class="b-sky-light">
        <div class="container p-y-80 p-y-125-sm">
            <div class="text-center m-b-80">
                <p class="text-uppercase font-size14 font-w-700 color-primary letter-sp-2 m-b-25">Feedback</p>
                <h2 class="font-size32 font-size36-md">Send us a note</h2>
            </div>
            <form>
                <div class="row m-b-40">
                    <div class="col-sm-6 m-b-20 m-b-0-md">
                        <div class="m-b-20">
                            <input type="text" class="form-control s-form-v2__input g-radius-50" placeholder="* Name">
                        </div>
                        <div class="m-b-20">
                            <input type="email" class="form-control s-form-v2__input g-radius-50" placeholder="* Email">
                        </div>
                        <input type="text" class="form-control s-form-v2__input g-radius-50" placeholder="* Phone">
                    </div>
                    <div class="col-sm-6">
                        <textarea class="form-control s-form-v2__input g-radius-10 p-y-20" rows="8" placeholder="* Your message"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="text-uppercase s-btn s-btn-md s-btn-primary-bg g-radius-50 p-x-80">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!--End Feedback Form -->
    <!--Google Map -->
    <section class="s-google-map">
        <div id="js__google-container" class="s-google-container h-400"></div>
    </section>
    <!--End Google Map -->
    <!-========== END PAGE CONTENT ==========->
    <!-========== FOOTER ==========->
    <footer class="b-dark">
        <!--Links -->
        <div class="g-hor-divider__dashed-white-opacity-lightest">
            <div class="container p-y-80">
                <div class="row">
                    <div class="col-sm-2 m-b-20 m-b-0-md">
                        <ul class="list-unstyled g-ul-li-tb-5 m-b-0">
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Home</a></li>
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">About</a></li>
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Work</a></li>
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 m-b-20 m-b-0-md">
                        <ul class="list-unstyled g-ul-li-tb-5 m-b-0">
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Twitter</a></li>
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Facebook</a></li>
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Instagram</a></li>
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">YouTube</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 m-b-40 m-b-0-md">
                        <ul class="list-unstyled g-ul-li-tb-5 m-b-0">
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Subscribe to Our Newsletter</a></li>
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Privacy Policy</a></li>
                            <li><a class="font-size15 color-white-opacity" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo p-y-50 p-y-0-md">
                        <h3 class="font-size18 color-white">Megakit</h3>
                        <p class="color-white-opacity">We are a creative studio focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container p-y-50">
            <div class="row">
                <div class="col-xs-6">
                    <a href="/">
                        <img class="w-100 height-auto" src="/data/img/megakit/logo.png" alt="Megakit Logo">
                    </a>
                </div>
                <div class="col-xs-6 text-right">
                    <p class="font-size14 m-b-0 color-white-opacity-light"><a href="/">Tấn Đạt</a></p>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="s-back-to-top js-btt"></a>
    <script>
        window.onload = function () {
            var loader = document.getElementById('loader');
            loadder.remove();
        }
    </script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
    <link href="~/data/megakit.css" rel="stylesheet" />
    <script src="~/data/megakit.js"></script>
</body>
</html>
