<div class="main p-0">
    @*<div class="lazy imp" data-src="/home/_slide"></div>*@
    <div class="home">
        @*<div class="home-about">
            <div>
                <div>
                    <div class="dichvu wow bounce" data-wow-iteration="4">
                    </div>
                    <div class="service wow fadeInRight">
                        Lập trình Web , thiết kế mẫu web
                    </div>
                    <div class="service wow fadeInLeftBig">
                        Lập trình ứng dụng Windows , Android , iOS , Winphone
                    </div>
                    <div class="service wow fadeInDownBig">
                        Cung cấp linh kiện laptop, thiết bị văn phòng
                    </div>
                    <div class="service wow fadeInUpBig">
                        Tư vấn bảo mật , hệ thống an ninh
                    </div>
                </div>
            </div>
        </div>*@
        <div class="lazy imp" data-src="/home/_homeblog"></div>
        <div class="lazy imp" data-src="/home/_PartnerTalk"></div>
    </div>


</div>
