@*@model TD.Models.AppInfo*@

<div class="main">
   
        <div class="breadcrumb">
            <a href="/Admin" class="breadcrumb-item">Bảng điều khiển</a>
            <a href="/Admin/Apps" class="breadcrumb-item">Sản phẩm</a>
            <a href="/Admin/Apps/info" class="breadcrumb-item">Thông số</a>
            <a href="/Admin/Apps/CreateNewInfo" class="breadcrumb-item active">Thêm mới</a>
            @using (Html.BeginForm("Index", "Apps", FormMethod.Get, htmlAttributes: new { @class = "search-form" }))
            {
                <input type="text" name="Search" value="@ViewBag.CurrentFilter" class="search-input" placeholder="Tìm kiếm theo tên sản phẩm" />
            }
        </div>
        
            <h4 class="form-title">
                Thêm mới loại thông số sản phẩm
            </h4>
            <form class="form">
                @Html.AntiForgeryToken()
                <div>
                    <div>
                        <div class="head">
                            Loại thông số
                        </div>
                        <div class="input--sae">
                            <i class="fa fa-edit fa-fix"></i>
                            <input class="input-text" name="Name" placeholder="Loại thông số kỹ thuật" required data-rule-remote="/Pub/AppInfoCheck" data-rule-minlength="2" />
                        </div>
                    </div>
                    <div >
                        <div class="head">
                            So sánh?
                        </div>
                        <input type="checkbox" class="ck" name="Comparable" value="true" />
                        <label class="d-in">Có thể so sánh</label>
                    </div>
                </div>






                <div class="submit-container">
                    <a class="btn submit btn-success" title="Lưu thông số sản phẩm"><i class="fa fa-save"></i>Lưu</a>
                </div>
            </form>
        </div>

    