@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@section Menu{
    <div class="main-menu collapse-wrap">
        <a class="togger only-xs self"><span class="line"></span></a>
        <div class="nav">
            <a class="menu-item" href="/">
                <i class="fa fa-home"></i>
                <span class="menu-text">
                    Tấn Đạt
                </span>
            </a>
            <a class="menu-item" href="/admin/blogs">
                <i class="fa fa-edit"></i>
                <span class="menu-text">
                    Bài viết
                </span>
            </a>
            <a class="menu-item" href="/admin/products">
                <i class="fa fa-shopping-bag"></i>
                <span class="menu-text">
                    Sản phẩm
                </span>
            </a>
        </div>
        <a class="togger slide-right flex-end togger-lazy" data-src="/account/userinfo" href="#userinfo">
            <i class="fa fa-user"></i>
            <span class="menu-text">
                @User.Identity.Name
            </span>
        </a>
    </div>
}

@section Body{
    @RenderBody()}
