<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
</head>
<body>
    <!-[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]->
    <div class='preloader-pulse' id="preloader">
        <div class='pulse-center'></div>
        <div class='pulse-explosion'></div>
    </div>
    <ul id="gn-menu" class="gn-menu-main active">
        <li>
            <a class="mnu home" href="/">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            <a class="mnu" href="/admin/products">
                <i class="fa fa-shopping-bag"></i>
                <span class="mnu-text">
                    Sản phẩm
                </span>
            </a>
        </li>
        <li>
            <a class="mnu" href="/admin/blogs">
                <i class="fa fa-comment"></i>
                <span class="mnu-text">
                    Bài viết
                </span>
            </a>
        </li>
        <li>
            <a class="mnu" href="/admin/products">
                <i class="fa fa-app"></i>
                <span class="mnu-text">
                    Ứng dụng
                </span>
            </a>
        </li>
        <li>
            <a class="mnu" href="/admin/partners">
                <i class="fa fa-users"></i>
                <span class="mnu-text">Đối tác</span>
            </a>
        </li>
        <li>
            <form>
                <input class="search-input" name="Search" placeholder="Gõ nội dung tìm kiếm và nhấn enter" required autocomplete="new-password" />
            </form>

        </li>
        <li>
            <a class="mnu" href="/admin/users">
                <i class="fa fa-user"></i>
                <span class="mnu-text">
                    Người dùng
                </span>
            </a>
        </li>
    </ul>
    <div class="wrapper" id="wrapper">
        @RenderBody()
        <footer class="footer">
            <div class="copyright-container">
                <div class="container">
                    <div class="copyright">
                        <a href="https://cnstandat.net">&copy; by Tấn Đạt &trade;</a>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <div class="cookie">
        <p>Chúng tôi đang sử dụng <a href="http://ec.europa.eu/ipg/basics/legal/cookies/index_en.htm" rel="nofollow" target="_blank">cookie</a> để thống kê số liệu giúp chúng tôi cung cấp cho bạn trải nghiệm tốt nhất trên trang web của chúng tôi. Bạn có thể tìm hiểu thêm hoặc tắt chúng nếu muốn. Tuy nhiên, bằng cách tiếp tục sử dụng trang web mà không thay đổi cài đặt, bạn đồng ý sử dụng cookie của chúng tôi.</p>
        <div><a class='accept'>Đồng ý</a></div>
    </div>
    @Html.Partial("_End")
</body>
</html>