@model IEnumerable<TD.Models.Blog>

<div class="table">
    <div class="table-row table-row-header">
        <span class="table-cell">
            Bài viết
            <a href="/admin/blogs/create?AppId=@ViewBag.AppId" class="btn left" title="Thêm mới">
                Thêm mới
            </a>
        </span>
        <span class="table-cell">
            Cập nhật lần cuối
        </span>
    </div>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="table-row">
                <span class="table-cell">
                    <a href="/admin/blogs/Edit/@item.Id" class="product-slide-link" title="Click vào đây để xem chi tiết">
                        @item.FullName
                    </a>
                </span>
                <span class="table-cell small">
                    @item.LastModify.ToString("dd/MM/yy")
                </span>
            </div>

        }
    }
    else
    {
        <span class="table-cell">
            Chưa có dữ liệu
        </span>
    }
</div>