// Utilities

@import '../../css/_libs.scss';


@import 'mixins/display-center';
@import 'mixins/position';
@import 'mixins/before-after';
@import 'mixins/placeholder';
@import 'mixins/size';
@import 'mixins/theme-icons';
@import 'mixins/gradients';
@import 'mixins/child';
@import 'mixins/overlay';
@import 'mixins/keyframes';
@import 'mixins/background';
@import 'mixins/horizontal-center-align';
@import 'mixins/container';
// Container
@mixin container {
	padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;
  @include clearfix;
}
/*@import 'mixins/animation';
@import 'mixins/animation-delay';
@import 'mixins/backface-visibility';


@import 'mixins/border-radius';
@import 'mixins/breakpoints';


@import 'mixins/clearfix';



@import 'mixins/font';





@import 'mixins/perspective';


@import 'mixins/rotate';
@import 'mixins/selection';

@import 'mixins/stroke-dashoffset';

@import 'mixins/transform-origin';
@import 'mixins/transform-scale';
@import 'mixins/transition';
@import 'mixins/translate3d';*/