$base-white: #F2EFE9;
$base-red: #d36868;
$base-dark: #252627;
$base-medium: #564E58;
$base-light: #C9F0FF;
$white: #fff;
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$grey: #e9e9e9;

$fb-color: #3b5998;
$gcolor-: #dd4b39;
$tw-color: #55acee;
$brand-info: $base-light;
$brand-danger: $red;
$brand-success: $green;
$brand-warning: $yellow;

$lightgrey: #646469;
$darkgrey: #00000a;
$limit: 98%;
$shape: ellipse;

$base-mnu-bg: $base-red;
$base-mnu-cl: #fff;
$base-mnu-bd: #c6d0da;