ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

li {
    color: green;
}

.no-cssanimations li.cssanimations {
    color: red;
}

.no-domprefixes li.domprefixes {
    color: red;
}

.no-prefixed li.prefixed {
    color: red;
}

.no-setclasses li.setclasses {
    color: red;
}

.no-shiv li.shiv {
    color: red;
}

.no-testallprops li.testallprops {
    color: red;
}

.no-testprop li.testprop {
    color: red;
}
