$ztop-menu: 9990;
$zcollapse-open: $ztop-menu + 1;

$bar-span-width: 20px;
$bar-weight: 3px;
$bar-spacer: $bar-weight * 2;
$menu-top-font-size: 16px;
$menu-top-padding: 5px;
$collapse-height: 40px;
$color-primary: #13b1cd !default;
$color-blueviolet: #9877ea !default;
$color-red: #c54041 !default;
$color-gold: #b99769 !default;
$color-dark: #222324 !default;
$color-dark-light: #242526 !default;
$color-heading: #242424 !default;
$color-white: #fff !default;
$color_tango_approx: #eb6b22;
$color_oregon_approx: #99400e;
$color_fuscous_gray_approx: #555;
$white: white;
$alabaster: #fafafa;
$color_alto_approx: #dadada;
$color_quill_gray_approx: #d2d2d2;
$color_pumice_approx: #c5c5c5;
$color_alabaster_approx: #fcfcfc;
$color_gallery_approx: #f0f0f0;
$white_70: rgba(255, 255, 255, 0.7);
$black_5: rgba(0, 0, 0, 0.05);
$white_15: rgba(255, 255, 255, 0.15);
$black_20: rgba(0, 0, 0, 0.2);
$black_30: rgba(0, 0, 0, 0.3);
$color_orange_roughy_approx: #d15813;
$color_jaffa_approx: #ed7b39;
$color_bamboo_approx: #df5e14;
$color_apple_approx: #65bb34;
$color_dell_approx: #3a6b1e;
$color_vida_loca_approx: #549b2b;
$color_sushi_approx: #71ca3f;
$color_shakespeare_approx: #56a3d5;
$color_jelly_bean_approx: #276f9e;
$color_curious_blue_approx: #3591cd;
$color_boston_blue_approx: #2f86be;
$color-white-opacity: rgba($color-white,.8) !default;
$color-white-opacity-light: rgba($color-white,.5) !default;
$color-white-opacity-lighter: rgba($color-white,.3) !default;
$color-white-opacity-lightest: rgba($color-white,.1) !default;
$color-text: #656565 !default;
$color-gray-light: #cecece !default;
$color-gray-lighter: #aeaeae !default;
$color-sky-light: #f5f8f9 !default;
$base-white: #F2EFE9;
$base-red: #d36868;
$base-dark: #252627;
$base-medium: #564E58;
$base-light: #C9F0FF;
$white: #fff;
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$grey: #e9e9e9;

$fb-color: #3b5998;
$gcolor-: #dd4b39;
$tw-color: #55acee;
$brand-info: $base-light;
$brand-danger: $red;
$brand-success: $green;
$brand-warning: $yellow;

$lightgrey: #646469;
$darkgrey: #00000a;
$limit: 98%;
$shape: ellipse;

$base-mnu-bg: $base-red;
$base-mnu-cl: #fff;
$base-mnu-bd: #c6d0da;

$font-size-root: 16px !default;



$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
// Body
//
// Settings for the `<body>` element.

$b-body: $color-white !default;
$color-body: $color-dark !default;


// Links
//
// Style anchor elements.

$link-hover-decoration: none !global;


// // Typography
// //
// // Font, line-height, and color for body text, headings, and more.

$font-family-primary: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-secondary: Montserrat, sans-serif !default; // Secondary Font Montserrat font family

$font-family-themify: 'icomoon' !default; // Icon Font Themify font family

$line-height: 1.6 !default;

$headings-margin-bottom: .75rem !default;
$headings-font-weight: bold !default;
$headings-line-height: 1.2 !default;



$breadcrumb-heigh: 33px;
$breadcrumb-base-color: $base-red;
$breadcrumb-color: #fff; // highlight($breadcrumb-base-color,50);
$breadcrumb-size: $collapse-height !default;
$search-index: $ztop-menu !default;
$breadcrumb-border: $breadcrumb-color;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-hover-media-query: false !default;
$enable-child-media-query: false !default;
$enable-before-after-media-query: false !default;


// Spacing
//
// Control the default styling of most Dublin elements by modifying these
// variables. Mostly focused on spacing.

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;


// Container
//




// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.




// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.



// Typography
//
// Font, line-height, and color for body text, headings, and more.


$font-family-icomoon: icomoon !default; // icomoon Icon font family

// Pixel value used to responsively scale all typography. Productlied to the `<html>` element.


// Forms

$cursor-disabled: not-allowed !default;

/*#region Animation */

$cub: ease-in-out;

/*#endregion */

$form-icon-success-color: $brand-success !default;
$form-icon-success: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$form-icon-success-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");

$form-icon-warnincolor-: $brand-warning !default;
$form-icon-warning: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$form-icon-warnincolor-}' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");

$form-icon-danger-color: $brand-danger !default;
$form-icon-danger: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$form-icon-danger-color}' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
$input-border: $brand-danger;
$input-background: transparent;
$input-color: $base-dark;