@model IEnumerable<TD.Models.Blog>
@foreach (var item in Model)
{
    <div class="table-row">
        <span class="table-cell">
            <span><a href="/Admin/Blogs/Edit/@item.Id" class="text">@item.Name</a></span>
        </span>
        <span class="table-cell">
            <span>@item.LastModify.ToString("dd/MM/yy HH:mm")</span>
        </span>
        <span class="table-cell">
            <span>@item.Comments.Count</span>
        </span>
        <span class="table-cell">@(item.Galleries.Count > 0 && item.Galleries.FirstOrDefault().AppFiles.Count > 0)</span>
    </div>
}
@if (ViewBag.HasMore)
{
    <div class="form-btn">
        <a data-src="/admin/blogs/index?Page=@ViewBag.Page&Search=@ViewBag.Search&SortByName=@ViewBag.SortByName&SortByDate=@ViewBag.SortByDate&First=@ViewBag.First" class="btn btn-info load-on-click">Xem thêm</a>
    </div>
}
