
@model IEnumerable<TD.Models.Comment>

@foreach (var item in Model)
{
    <div class="table-row">
        <span class="table-cell">
            <a href="/admin/blogs/editcomment/@item.Id">
                <i class="fa fa-edit"></i>
                @Html.Raw(item.Content)
            </a>
        </span>
        <span class="table-cell">
            @item.User.UserName
        </span>
        <span class="table-cell">
            @item.Created.ToString("dd/MM/yy HH:mm")
        </span>
        <span class="table-cell">
            @item.Children.Count
        </span>

    </div>

}
@if (ViewBag.HasMore)
{
    <div class="table-row">
        <a class="btn load-on-click" href="/admin/blogs/getmorecomment/@ViewBag.Id/@ViewBag.Page">
            Xem thêm
        </a>
    </div>
}




