.full-height { height: 100vh; }

/* Small screen / phone */
@include mq(tablet) {
  .full-h-sm { height: 100vh; }
}

/* Medium screen / tablet */
@include mq(desktop) {
  .full-h-md { height: 100vh; }
}

/* Extra large screen / wide desktop */
@include mq(wide) {
  .full-h-lg { height: 100vh; }
}
/* Small screen / phone */
.width-auto {
    width: auto;
}

.width-100p {
    width: 100%;
}

.height-auto {
    height: auto;
}

.height-100p {
    height: 100%;
}

@include mq(tablet) {
    .height-auto-sm {
        height: auto;
    }

    .height-100p-sm {
        height: 100%;
    }
}

@include mq(desktop) {
    .width-auto-md {
        width: auto;
    }

    .width-100p-md {
        width: 100%;
    }

    .height-auto-md {
        height: auto;
    }

    .height-100p-md {
        height: 100%;
    }
}

@include mq(wide) {
    .width-auto-lg {
        width: auto;
    }

    .width-100p-lg {
        width: 100%;
    }

    .height-auto-lg {
        height: auto;
    }

    .height-100p-lg {
        height: 100%;
    }
}








/*-----------------
  Font Family
------------------*/

.font-f-primary {
    @include font($family: $font-family-primary !important);
}

.font-f-secondary {
    @include font($family: $font-family-secondary !important);
}

.font-f-playfair {
    @include font($family: $font-family-playfair !important);
}


/*-----------------
  Font Weight
------------------*/





/*-----------------
  Letter Spacing
------------------*/

.letter-sp-1 {
    letter-spacing: .0625rem;
}

.letter-sp-2 {
    letter-spacing: .125rem;
}

.letter-sp-3 {
    letter-spacing: .1875rem;
}


/*-----------------
  Display
------------------*/

.dis-none {
    display: none;
}

.dis-block {
    display: block;
}

.dis-inline {
    display: inline;
}

.dis-inline-block {
    display: inline-block;
}

.dis-inherit {
    display: inherit;
}

.dis-table {
    display: table;
}

/* Small screen / phone */
@include mq(tablet) {
    .dis-none-sm {
        display: none;
    }

    .dis-block-sm {
        display: block;
    }

    .dis-inline-sm {
        display: inline;
    }

    .dis-inline-block-sm {
        display: inline-block;
    }

    .dis-inherit-sm {
        display: inherit;
    }

    .dis-table-sm {
        display: table;
    }
}

/* Medium screen / tablet */
@include mq(desktop) {
    .dis-none-md {
        display: none;
    }

    .dis-block-md {
        display: block;
    }

    .dis-inline-md {
        display: inline;
    }

    .dis-inline-block-md {
        display: inline-block;
    }

    .dis-inherit-md {
        display: inherit;
    }

    .dis-table-md {
        display: table;
    }
}

/* Extra large screen / wide desktop */
@include mq(wide) {
    .dis-none-lg {
        display: none;
    }

    .dis-block-lg {
        display: block;
    }

    .dis-inline-lg {
        display: inline;
    }

    .dis-inline-block-lg {
        display: inline-block;
    }

    .dis-inherit-lg {
        display: inherit;
    }

    .dis-table-lg {
        display: table;
    }
}


/*-----------------
  Text Alignment
------------------*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-inherit {
    text-align: inherit;
}

/* Small screen / phone */
@include mq(tablet) {
    .text-center-sm {
        text-align: center;
    }

    .text-left-sm {
        text-align: left;
    }

    .text-right-sm {
        text-align: right;
    }

    .text-inherit-sm {
        text-align: inherit;
    }
}

/* Medium screen / tablet */
@include mq(desktop) {
    .text-center-md {
        text-align: center;
    }

    .text-left-md {
        text-align: left;
    }

    .text-right-md {
        text-align: right;
    }

    .text-inherit-md {
        text-align: inherit;
    }
}

/* Extra large screen / wide desktop */
@include mq(wide) {
    .text-center-lg {
        text-align: center;
    }

    .text-left-lg {
        text-align: left;
    }

    .text-right-lg {
        text-align: right;
    }

    .text-inherit-lg {
        text-align: inherit;
    }
}


/*-----------------
  Pulls
------------------*/

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-none {
    float: none;
}

/* Small screen / phone */
@include mq(tablet) {
    .pull-left-sm {
        float: left;
    }

    .pull-right-sm {
        float: right;
    }

    .pull-none-sm {
        float: none;
    }
}

/* Medium screen / tablet */
@include mq(desktop) {
    .pull-left-md {
        float: left;
    }

    .pull-right-md {
        float: right;
    }

    .pull-none-md {
        float: none;
    }
}

/* Extra large screen / wide desktop */
@include mq(wide) {
    .pull-left-lg {
        float: left;
    }

    .pull-right-lg {
        float: right;
    }

    .pull-none-lg {
        float: none;
    }
}
