/*-----------------
  Container
------------------*/

/* Small container */
.container-sm {
	@include container;

  @include mq(tablet) {
  	width: $container-sm;
  }
}

/* Medium container */
.container-md {
	@include container;

  @include mq(tablet) {
  	width: $container-sm;
  }

  @include mq(wide) {
  	width: $container-md;
  }
}


/*-----------------
  Row
------------------*/

/* No Space in a row class */
.row-col-0 {
  margin-right: 0;
  margin-left: 0;

  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.row-col-2 {
  margin-right: -.125rem;
  margin-left: -.125rem;

  > [class*="col-"] {
    padding-left: .125rem;
    padding-right: .125rem;
  }
}

/* 5px space row class */
.row-col-5 {
  margin-right: -.3125rem;
  margin-left: -.3125rem;

  > [class*="col-"] {
    padding-left: .3125rem;
    padding-right: .3125rem;
  }
}

/* 10px space row class */
.row-col-10 {
  margin-right: -.625rem;
  margin-left: -.625rem;

  > [class*="col-"] {
    padding-left: .625rem;
    padding-right: .625rem;
  }
}


/*-----------------
  Width
------------------*/

.width-auto { width: auto; }
.width-100p { width: 100%; }

@for $i from 1 through 10 {
  .w-#{$i * 5} {
    width: ($i * .3125rem);
  }
}

@for $i from 6 through 10 {
  .w-#{$i * 10} {
    width: ($i * .625rem);
  }
}

@for $i from 3 through 12 {
  .w-#{$i * 50} {
    width: ($i * 3.125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	.width-auto-sm { width: auto; }
	.width-100p-sm { width: 100%; }

	@for $i from 1 through 10 {
	  .w-#{$i * 5}-sm {
	    width: ($i * .3125rem);
	  }
	}

	@for $i from 6 through 10 {
	  .w-#{$i * 10}-sm {
	    width: ($i * .625rem);
	  }
	}

	@for $i from 3 through 12 {
	  .w-#{$i * 50}-sm {
	    width: ($i * 3.125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	.width-auto-md { width: auto; }
	.width-100p-md { width: 100%; }

	@for $i from 1 through 10 {
	  .w-#{$i * 5}-md {
	    width: ($i * .3125rem);
	  }
	}

	@for $i from 6 through 10 {
	  .w-#{$i * 10}-md {
	    width: ($i * .625rem);
	  }
	}

	@for $i from 3 through 12 {
	  .w-#{$i * 50}-md {
	    width: ($i * 3.125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	.width-auto-lg { width: auto; }
	.width-100p-lg { width: 100%; }

	@for $i from 1 through 10 {
	  .w-#{$i * 5}-lg {
	    width: ($i * .3125rem);
	  }
	}

	@for $i from 6 through 10 {
	  .w-#{$i * 10}-lg {
	    width: ($i * .625rem);
	  }
	}

	@for $i from 3 through 12 {
	  .w-#{$i * 50}-lg {
	    width: ($i * 3.125rem);
	  }
	}
}



/*-----------------
  Height
------------------*/

.height-auto { height: auto; }
.height-100p { height: 100%; }

@for $i from 1 through 10 {
  .h-#{$i * 5} {
    height: ($i * .3125rem);
  }
}

@for $i from 6 through 10 {
  .h-#{$i * 10} {
    height: ($i * .625rem);
  }
}

@for $i from 3 through 12 {
  .h-#{$i * 50} {
    height: ($i * 3.125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	.height-auto-sm { height: auto; }
	.height-100p-sm { height: 100%; }

	@for $i from 1 through 10 {
	  .h-#{$i * 5}-sm {
	    height: ($i * .3125rem);
	  }
	}

	@for $i from 6 through 10 {
	  .h-#{$i * 10}-sm {
	    height: ($i * .625rem);
	  }
	}

	@for $i from 3 through 12 {
	  .h-#{$i * 50}-sm {
	    height: ($i * 3.125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	.height-auto-md { height: auto; }
	.height-100p-md { height: 100%; }

	@for $i from 1 through 10 {
	  .h-#{$i * 5}-md {
	    height: ($i * .3125rem);
	  }
	}

	@for $i from 6 through 10 {
	  .h-#{$i * 10}-md {
	    height: ($i * .625rem);
	  }
	}

	@for $i from 3 through 12 {
	  .h-#{$i * 50}-md {
	    height: ($i * 3.125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	.height-auto-lg { height: auto; }
	.height-100p-lg { height: 100%; }

	@for $i from 1 through 10 {
	  .h-#{$i * 5}-lg {
	    height: ($i * .3125rem);
	  }
	}

	@for $i from 6 through 10 {
	  .h-#{$i * 10}-lg {
	    height: ($i * .625rem);
	  }
	}

	@for $i from 3 through 12 {
	  .h-#{$i * 50}-lg {
	    height: ($i * 3.125rem);
	  }
	}
}


/*-----------------
  Margin Bottom
------------------*/

.m-b-2 { margin-bottom: .125rem; }
.m-b-4 { margin-bottom: .25rem; }

@for $i from 0 through 30 {
  .m-b-#{$i * 5} {
    margin-bottom: ($i * .3125rem);
  }
}

.m-b-250 { margin-bottom: 15.625rem; }

/* Small screen / phone */
@include mq(mobile) {
	.m-b-2-sm { margin-bottom: .125rem; }
	.m-b-4-sm { margin-bottom: .25rem; }

	@for $i from 0 through 30 {
	  .m-b-#{$i * 5}-sm {
	    margin-bottom: ($i * .3125rem);
	  }
	
	.m-b-250-sm { margin-bottom: 15.625rem; }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	.m-b-2-md { margin-bottom: .125rem; }
	.m-b-4-md { margin-bottom: .25rem; }

	@for $i from 0 through 30 {
	  .m-b-#{$i * 5}-md {
	    margin-bottom: ($i * .3125rem);
	  }
	}
	
	.m-b-250-md { margin-bottom: 15.625rem; }
}


/* Extra large screen / wide desktop */
@include mq(wide) {
	.m-b-2-lg { margin-bottom: .125rem; }
	.m-b-4-lg { margin-bottom: .25rem; }

	@for $i from 0 through 30 {
	  .m-b-#{$i * 5}-lg {
	    margin-bottom: ($i * .3125rem);
	  }
	}
	
	.m-b-250-lg { margin-bottom: 15.625rem; }
}



/*-----------------
  Margin Top
------------------*/

@for $i from 0 through 30 {
  .m-t-#{$i * 5} {
    margin-top: ($i * .3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {	
	@for $i from 0 through 30 {
	  .m-t-#{$i * 5}-sm {
	    margin-top: ($i * .3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {	
	@for $i from 0 through 30 {
	  .m-t-#{$i * 5}-md {
	    margin-top: ($i * .3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {	
	@for $i from 0 through 30 {
	  .m-t-#{$i * 5}-lg {
	    margin-top: ($i * .3125rem);
	  }
	}
}


/*-----------------
  Margin Left
------------------*/

@for $i from 0 through 30 {
  .m-l-#{$i * 5} {
    margin-left: ($i * .3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .m-l-#{$i * 5}-sm {
	    margin-left: ($i * .3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .m-l-#{$i * 5}-md {
	    margin-left: ($i * .3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .m-l-#{$i * 5}-lg {
	    margin-left: ($i * .3125rem);
	  }
	}
}


/*-----------------
  Margin Right
------------------*/

@for $i from 0 through 30 {
  .m-r-#{$i * 5} {
    margin-right: ($i * .3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .m-r-#{$i * 5}-sm {
	    margin-right: ($i * .3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .m-r-#{$i * 5}-md {
	    margin-right: ($i * .3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .m-r-#{$i * 5}-lg {
	    margin-right: ($i * .3125rem);
	  }
	}
}


/*-----------------
  Margin Top Overlay
------------------*/

@for $i from 0 through 30 {
  .m-t-o-#{$i * 5} {
    margin-top: ($i * -.3125rem);
  }
}

.m-t-o-230 { margin-top: -14.375rem; }

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .m-t-o-#{$i * 5}-sm {
	    margin-top: ($i * -.3125rem);
	  }
	}
	
	.m-t-o-230-sm { margin-top: -14.375rem; }
}


/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .m-t-o-#{$i * 5}-md {
	    margin-top: ($i * -.3125rem);
	  }
	}
	
	.m-t-o-230-md { margin-top: -14.375rem; }
}


/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .m-t-o-#{$i * 5}-lg {
	    margin-top: ($i * -.3125rem);
	  }
	}
	
	.m-t-o-230-lg { margin-top: -14.375rem; }
}



/*-----------------
  Margin Left Overlay
------------------*/

@for $i from 0 through 30 {
  .m-l-o-#{$i * 5} {
    margin-left: ($i * -.3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .m-l-o-#{$i * 5}-sm {
	    margin-left: ($i * -.3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .m-l-o-#{$i * 5}-md {
	    margin-left: ($i * -.3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .m-l-o-#{$i * 5}-lg {
	    margin-left: ($i * -.3125rem);
	  }
	}
}


/*-----------------
  Margin Right Overlay
------------------*/

@for $i from 0 through 30 {
  .m-r-o-#{$i * 5} {
    margin-right: ($i * -.3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .m-r-o-#{$i * 5}-sm {
	    margin-right: ($i * -.3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .m-r-o-#{$i * 5}-md {
	    margin-right: ($i * -.3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .m-r-o-#{$i * 5}-lg {
	    margin-right: ($i * -.3125rem);
	  }
	}
}


/*-----------------
  Padding Left
------------------*/

@for $i from 0 through 30 {
  .p-l-#{$i * 5} {
    padding-left: ($i * .3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .p-l-#{$i * 5}-sm {
	    padding-left: ($i * .3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .p-l-#{$i * 5}-md {
	    padding-left: ($i * .3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .p-l-#{$i * 5}-lg {
	    padding-left: ($i * .3125rem);
	  }
	}
}


/*-----------------
  Padding Right
------------------*/

@for $i from 0 through 30 {
  .p-r-#{$i * 5} {
    padding-right: ($i * .3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .p-r-#{$i * 5}-sm {
	    padding-right: ($i * .3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .p-r-#{$i * 5}-md {
	    padding-right: ($i * .3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .p-r-#{$i * 5}-lg {
	    padding-right: ($i * .3125rem);
	  }
	}
}


/*-----------------
  Padding X (left & right)
------------------*/

@for $i from 0 through 30 {
  .p-x-#{$i * 5} {
    padding-left: ($i * .3125rem);
    padding-right: ($i * .3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .p-x-#{$i * 5}-sm {
	    padding-left: ($i * .3125rem);
	    padding-right: ($i * .3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .p-x-#{$i * 5}-md {
	    padding-left: ($i * .3125rem);
	    padding-right: ($i * .3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .p-x-#{$i * 5}-lg {
	    padding-left: ($i * .3125rem);
	    padding-right: ($i * .3125rem);
	  }
	}
}


/*-----------------
  Padding Y (top & bottom)
------------------*/

@for $i from 0 through 30 {
  .p-y-#{$i * 5} {
    padding-top: ($i * .3125rem);
    padding-bottom: ($i * .3125rem);
  }
}

/* Small screen / phone */
@include mq(mobile) {
	@for $i from 0 through 30 {
	  .p-y-#{$i * 5}-sm {
	    padding-top: ($i * .3125rem);
	    padding-bottom: ($i * .3125rem);
	  }
	}
}

/* Medium screen / tablet */
@include mq(tablet) {
	@for $i from 0 through 30 {
	  .p-y-#{$i * 5}-md {
	    padding-top: ($i * .3125rem);
	    padding-bottom: ($i * .3125rem);
	  }
	}
}

/* Extra large screen / wide desktop */
@include mq(wide) {
	@for $i from 0 through 30 {
	  .p-y-#{$i * 5}-lg {
	    padding-top: ($i * .3125rem);
	    padding-bottom: ($i * .3125rem);
	  }
	}
}


/*-----------------
  Ul li padding X (left & right)
------------------*/

@for $i from 0 through 5 {
  .g-ul-li-lr-#{$i} > li {
  	padding-left: ($i * .0625rem);
		padding-right: ($i * .0625rem);
  }
}

@for $i from 2 through 4 {
  .g-ul-li-lr-#{$i * 5} > li {
    padding-left: ($i * .3125rem);
    padding-right: ($i * .3125rem);
  }
}


/*-----------------
  Ul li padding Y (top & bottom)
------------------*/

@for $i from 0 through 5 {
  .g-ul-li-tb-#{$i} > li {
  	padding-top: ($i * .0625rem);
		padding-bottom: ($i * .0625rem);
  }
}

@for $i from 2 through 4 {
  .g-ul-li-tb-#{$i * 5} > li {
    padding-top: ($i * .3125rem);
    padding-bottom: ($i * .3125rem);
  }
}